<h2>Item Bundles</h2>

<%= render partial: 'item_bundles/partials/index_buttons' %>

<hr>

<table id="item-bundles-list" class="table table-hover" data-source="<%= item_bundles_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bundle Set</th>
      <th>Items</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<%= render partial: 'item_bundles/partials/index_buttons' %>
