<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Item Bundle Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Bundle Set</h6>
        <p class="font-italic"><%= @item_bundle.bundle_set_quantity %></p>
      </div>
    </div>

    <div class="col-8">
      <div>
        <h6>Items</h6>
        <p class="font-italic"><%= @item_bundle.items.pluck(:name).join(', ') %></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Items Breakdown</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6"><h6>Item Name</h6></div>
    <div class="col-6"><h6>Quantity</h6></div>

    <% @item_bundle.bundled_items.each do |bundled| %>
      <div class="col-6"><%= bundled.item.name %></div>
      <div class="col-6"><%= bundled.quantity %></div>
    <% end %>
  </div>

  <hr>

  <%= link_to 'Edit', edit_item_bundle_path(@item_bundle), class: 'btn btn-primary' if policy(ItemBundle).allow_edit? %>
  <%= link_to 'Back', item_bundles_path, class: 'btn btn-outline-secondary' %>
</div>
