<h4>Basic Information</h4>

<div class="form-group">
  <%= form.label :warehouse_id, 'Warehouse' %>
  <%= form.select(:warehouse_id, Warehouse.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Select warehouse...' }, { class: 'form-control' }) %>
</div>
