<hr>

<%= form_with(model: order_slip, local: true) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: order_slip } %>

  <%= render partial: 'order_slips/partials/form_buttons', locals: { form: form } %>

  <hr>

	<div class="customers-header">
	  <h4>Customer</h4>
	</div>

	<%= form.hidden_field :orderable_type, value: 'Customer' %>

	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<%= form.label 'orderable_id', 'Customer' %>
				<%= form.select :orderable_id, options_from_collection_for_select(Customer.saved, 'id', 'name', order_slip.orderable.try(:id)), { prompt: 'Select a customer...' }, { class: 'form-control order-customers', id: 'orderable_id' } %>
			</div>
		</div>
	</div>

  <hr>

	<div class="warehouses-header">
	  <h4>Warehouse</h4>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<%= form.label 'warehouse_id', 'Warehouse' %>
				<%= form.select 'warehouse_id', options_from_collection_for_select(Warehouse.all, 'id', 'name', order_slip.warehouse.try(:id)), { prompt: 'Select a warehouse...' }, { class: 'form-control order-warehouses', id: 'warehouse_id' } %>
			</div>
		</div>
	</div>

  <hr>

  <%= render partial: 'order_slips/partials/items' %>

  <hr>

  <%= render partial: 'order_slips/partials/form_buttons', locals: { form: form } %>
<% end %>
