<h4>Accounting Information</h4>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= label_tag :credit_terms, 'Credit Terms', class: 'font-weight-bold' %>
      <%= select_tag 'accounting_information[credit_term]', options_for_select(AccountingInformation.credit_terms.map { |k, v| [k.humanize.capitalize, v] }, selected: AccountingInformation.credit_terms[supplier.accounting_information.try(:credit_term)]), { id: 'ci-credit-terms', class: 'form-control', required: true } %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= label_tag :contact, 'Contact', class: 'font-weight-bold' %>
      <%= select_tag 'accounting_information[contact_info]', options_for_select(supplier.contact_informations.map { |contact| [contact.name, contact.id] }, selected: supplier.accounting_information.try(:contact).try(:id)), { prompt: 'Choose Contact...', class: 'form-control' } %>
    </div>
  </div>
</div>
