<div class="modal fade" id="address-form-modal" tabindex="-1" role="dialog" aria-labelledby="address-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="address-form-modal-label">Address Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'address[id]', nil %>

        <div class="row">
          <div class="col-4">
            <div class="form-group inline-form-toggle">
              <%= label_tag '', class: 'switch' do %>
                <%= check_box_tag 'addressable[is_business_address]' %>
                <span class="slider round"></span>
              <% end %>

              <%= label_tag 'addressable[is_business_address]', 'Business Address' %>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group inline-form-toggle">
              <%= label_tag '', class: 'switch' do %>
                <%= check_box_tag 'addressable[is_delivery_address]' %>
                <span class="slider round"></span>
              <% end %>

              <%= label_tag 'addressable[is_delivery_address]', 'Delivery Address' %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= label_tag :contact, 'Contact' %>
              <%= select_tag 'addressable[contact_info]', options_for_select(supplier.contact_informations.map { |contact| [contact.name, contact.id] }, selected: nil), { prompt: 'Choose Contact...', class: 'form-control' } %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= label_tag 'addressable[fax]', 'Fax' %>
              <%= text_field_tag 'addressable[fax]', nil, class: 'form-control', placeholder: 'Fax' %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= label_tag 'addressable[tax_id]', 'TIN' %>
              <%= text_field_tag 'addressable[tax_id]', nil, class: 'form-control numeric-field', placeholder: 'TIN' %>
            </div>
          </div>

          <div class="col-6 business-section">
            <div class="form-group">
              <%= label_tag 'addressable[business_name]', 'Business Name' %>
              <%= text_field_tag 'addressable[business_name]', nil, id: 'business_name', class: 'form-control', placeholder: 'Business Name' %>
            </div>
          </div>

          <div class="col-6 delivery-schedule-section">
            <div class="form-group">
              <%= label_tag 'addressable[delivery_schedule_day]', 'Delivery Schedule' %>
              <div id="week-picker-delivery_schedule_day"></div>
              <%= hidden_field_tag 'addressable[delivery_schedule_day]', '' %>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= label_tag 'address[basic_address]', 'Address' %>
              <%= text_field_tag 'address[basic_address]', nil, class: 'form-control', placeholder: 'Address' %>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <%= label_tag 'address[town_city]', 'Town/City' %>
              <%= text_field_tag 'address[town_city]', nil, class: 'form-control', placeholder: 'Town/City' %>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <%= label_tag 'address[state_province]', 'State/Province' %>
              <%= text_field_tag 'address[state_province]', nil, class: 'form-control', placeholder: 'State/Province' %>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <%= label_tag 'address[country]', 'Country' %>
              <%= text_field_tag 'address[country]', nil, class: 'form-control', placeholder: 'Country' %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Save Changes', id: 'save-address-btn', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
