<h4>Basic Information</h4>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Supplier name' %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :email, 'Email Address' %>
      <%= form.text_field :email, class: 'form-control', required: true, placeholder: 'Email Address' %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :current_balance, 'Current Balance' %>
      <%= form.text_field :current_balance, class: 'form-control', required: true, placeholder: 'Current Balance', readonly: true %>
    </div>
  </div>

  <div class="col-6">
    <!-- <div class="form-group">
      <%#= label_tag 'supplier[auto]', 'Auto', class: 'disp-block' %>


      <%#= label_tag '', class: 'switch' do %>
        <%#= form.check_box :auto %>
        <span class="slider round"></span>
      <%# end %>
    </div> -->
  </div>
</div>
