<div class="modal fade" id="contact-information-form-modal" tabindex="-1" role="dialog" aria-labelledby="contact-information-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact-information-form-modal-label">Contact Information Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'contact_information[id]', nil %>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= label_tag 'contact_information[name]', 'Name' %>
              <%= text_field_tag 'contact_information[name]', nil, class: 'form-control', placeholder: 'Name' %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"><%= label_tag 'contact_information[contact_number_1]', 'Contact Number 1' %>
              <%= text_field_tag 'contact_information[contact_number_1]', nil, class: 'form-control', placeholder: 'Contact Number 1' %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group"><%= label_tag 'contact_information[contact_number_2]', 'Contact Number 2' %>
              <%= text_field_tag 'contact_information[contact_number_2]', nil, class: 'form-control', placeholder: 'Contact Number 2' %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Save Changes', id: 'save-contact-information-btn', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
