<div class="row">
  <div class="col-6">
    <h4>Contacts Information</h4>
  </div>
  <div class="col-6 align-right">
    <%= link_to '#', id: 'add-contact-information-btn', class: 'btn btn-info', data: { toggle: 'modal', target: '#contact-information-form-modal' } do %>
      <i class="fa fa-plus"></i>
      <span>Add Contact</span>
    <% end %>
  </div>

  <div class="col-12">
    <table id="contact-informations-list" class="table table-hover" data-source="<%= contact_informations_url(format: 'json') %>">
      <thead>
        <tr>
          <th>Name</th>
          <th>Telephone Number 1</th>
          <th>Telephone Number 2</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% supplier.contact_informations.each do |contact_info| %>
          <tr data-contact-information-id="<%= contact_info.id %>">
            <td><%= contact_info.name %></td>
            <td><%= contact_info.contact_number_1 %></td>
            <td><%= contact_info.contact_number_2 %></td>
            <td>
              <%= link_to '#', class: 'edit-contact-information', data: { id: contact_info.id } do %>
                <i class="fa fa-edit"></i>
              <% end %>

              <%= link_to '#', class: 'destroy-contact-information', data: { id: contact_info.id } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
