<div class="actions align-right">
  <%= form.submit class: 'btn btn-success' %>
  <%= link_to 'Discard', supplier_path(supplier, axn: 'discarded'), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if supplier.unsaved? %>
  <%= link_to 'Back', suppliers_path, class: 'btn btn-outline-secondary' %>
</div>
