<hr>

<%= form_with(model: supplier, local: true) do |form| %>
  <%= hidden_field_tag 'resource[id]', supplier.id %>
  <%= hidden_field_tag 'resource[type]', 'Supplier' %>

  <%= render partial: 'shared/partials/form_error', locals: { resource: supplier } %>

  <%= render partial: 'suppliers/partials/form_buttons', locals: { form: form, supplier: supplier } %>

  <hr>

  <%= render partial: 'suppliers/partials/basic_information', locals: { form: form } %>

  <hr>

  <%= render partial: 'suppliers/partials/accounting_information', locals: { supplier: supplier } %>

  <hr>

  <%= render partial: 'shared/partials/addresses', locals: { resource: supplier, resource_type: 'Supplier', address_resource: SupplierAddress } %>

  <hr>

  <%= render partial: 'shared/partials/discounts', locals: { resource: supplier, resource_type: 'Supplier' } %>

  <hr>

  <%= render partial: 'shared/partials/contact_informations', locals: { resource: supplier, resource_type: 'Supplier' } %>

  <hr>

  <%= render partial: 'suppliers/partials/form_buttons', locals: { form: form, supplier: supplier } %>

  <%= render partial: 'suppliers/partials/address_form_modal', locals: { supplier: supplier } %>
  <%= render partial: 'shared/partials/discount_form_modal', locals: { brands: @brands } %>
  <%= render partial: 'shared/partials/contact_information_form_modal' %>
<% end %>

<script type="text/javascript">
  var brands = "<%= j(@brands.to_json.html_safe) %>";
</script>
