<%= link_to 'New Supplier', new_supplier_path, class: 'btn btn-primary' if policy(Supplier).allow_add? %>

<% if policy(Supplier).allow_delete? %>
  <button type="button" id="archive-selected" class="btn btn-danger archive-selected">Archive Selected</button>
<% end %>
