<h4>Basic Information</h4>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Item Name' %>
    </div>

    <div class="form-group">
      <%= label_tag 'item[brand_id]', 'Brand' %>
      <%= select_tag 'item[brand_id]', options_for_select(@brands.map { |brand| [brand.name, brand.id] }, selected: item.brand_id), { include_blank: 'No brand', class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.label :sku, 'Item Code' %>
      <%= form.text_field :sku, class: 'form-control', required: true, placeholder: 'Item Code' %>
    </div>

    <div class="form-group">
      <%= label_tag 'images', 'Images' %>
      <%= form.file_field :images, multiple: true %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :price %>
      <%= form.text_field :price, class: 'form-control currency-field', required: true, placeholder: 'Price' %>
    </div>

    <div class="form-group">
      <%= form.label :dealer_price %>
      <%= form.text_field :dealer_price, class: 'form-control currency-field', placeholder: 'Dealer Price' %>
    </div>

    <div class="form-group">
      <%= form.label :srp_price %>
      <%= form.text_field :srp_price, class: 'form-control currency-field', placeholder: 'SRP Price' %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :details %>
      <%= form.text_field :details, class: 'form-control', placeholder: 'Details' %>
    </div>

    <div class="form-group">
      <%= label_tag 'category_id', 'Categories', class: 'disp-block' %>
      <%= select_tag 'category_id', options_from_collection_for_select(Category.saved.main, 'id', 'name', @item.category.try(:id)), { include_blank: 'Select Category...', class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= label_tag 'sub_category_ids', 'Subcategories', class: 'disp-block' %>
      <select name="sub_category_ids[]" id="sub_category_ids" class="form-control" multiple>
        <% if @item.category.present? %>
          <% @item.category.sub_categories.each do |sub_category| %>
            <option value="<%= sub_category.id %>" <%= 'selected' if @item.sub_categories.pluck(:id).include?(sub_category.id) %>><%= sub_category.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <!-- <div class="form-group">
      <%#= label_tag 'item[is_bundle]', 'Bundle?', class: 'disp-block' %>
      <%#= label_tag '', class: 'switch' do %>
        <%#= form.check_box :is_bundle, id: 'item_is_bundle' %>
        <span class="slider round"></span>
      <%# end %>
    </div> -->
  </div>
</div>
