<div class="modal fade" id="delete-by-bulk-form-modal" tabindex="-1" role="dialog" aria-labelledby="delete-by-bulk-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-by-bulk-form-modal-label">Delete Inventory By Bulk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= label_tag 'quantity', 'Quantity' %>
              <%= text_field_tag 'quantity', nil, class: 'form-control numeric-field quantity', placeholder: 'Quantity' %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Delete bulk', class: 'btn btn-danger delete-by-bulk' %>
      </div>
    </div>
  </div>
</div>
