<div class="actions align-right">
	<%= form.submit class: 'btn btn-success'%>
  <%= link_to 'Discard', item_path(item, axn: 'discarded'), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if item.unsaved? %>
	<%= link_to 'Back', items_path, class: 'btn btn-outline-secondary' %>
</div>
