<hr>

<%= form_with(model: item, local: true) do |form| %>
	<%= hidden_field_tag 'items[id]', item.id %>

  <%= render partial: 'shared/partials/form_error', locals: { resource: item } %>

  <%= render partial: 'items/partials/form_buttons', locals: { form: form, item: item } %>

  <hr>

  <%= render partial: 'items/partials/basic_information', locals: { form: form, item: item } %>

  <hr>

  <%= render partial: 'items/partials/gallery', locals: { item: item } %>

  <hr>

  <%= render partial: 'items/partials/item_inventories', locals: { item: item } %>

  <hr>

  <%= render partial: 'items/partials/form_buttons', locals: { form: form, item: item } %>

  <%= render partial: 'items/partials/item_inventory_by_bulk_form_modal' %>
  <%= render partial: 'items/partials/item_inventory_by_serial_form_modal' %>
  <%= render partial: 'items/partials/delete_by_bulk_form_modal' %>
  <%= render partial: 'items/partials/image_form_modal' %>
<% end %>
