<div class="row">
  <div class="col-12">
    <div class="item-gallery owl-carousel owl-theme">
      <% item.images.each_with_index do |image, i| %>
        <div class="item"><%= image_tag image, class: 'rounded item-gallery-image', data: { id: image.id, index: i } %></div>
      <% end %>
    </div>
  </div>
</div>
