<div class="modal fade" id="image-form-modal" tabindex="-1" role="dialog" aria-labelledby="image-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="image-form-modal-label">Item Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="" alt="" data-id="" class="modal-image">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Delete Image', class: 'btn btn-danger delete-attachment-btn', data: { id: '' } %>
      </div>
    </div>
  </div>
</div>
