<div class="row">
  <div class="col-6">
    <h4>Item Inventories</h4>
  </div>
  <div class="col-6 align-right">
    <div class="btn-group">
      <% if policy(ItemInventory).allow_add? %>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="<%= add_item_inventories_btn_data[:target] %>" data-by="<%= add_item_inventories_btn_data[:by] %>">
          <i class="fa fa-plus"></i>
          Add item by <%= add_item_inventories_btn_data[:by] %>
        </button>
      <% end %>
    </div>

    <% if policy(ItemInventory).allow_delete? %>
      <%= link_to '#', id: 'delete-by-bulk-btn', class: 'btn btn-danger', data: { toggle: 'modal', target: '#delete-by-bulk-form-modal' } do %>
        <i class="fa fa-trash"></i>
        <span>Delete by bulk</span>
      <% end %>
    <% end %>
  </div>

  <% if item.saved? %>
    <div class="col-12">
      <hr>

      <%= render partial: 'items/partials/item_inventories_counts', locals: { item: item } %>

      <hr>
    </div>
  <% end %>

  <div class="col-12">
    <table id="item-inventories-list" class="table table-hover" data-source="<%= item_item_inventories_url(format: :json, item_id: item.id) %>">
      <thead>
        <tr>
          <th>Added By</th>
          <th>Stock Section</th>
          <th>Item Status</th>
          <th>Serial ID</th>
          <th></th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>
</div>
