<div class="row item-inventory-count-section">
  <div class="col-3 item-inventory-count">
    <div class="form-group">
      <%= label_tag 'On Stock' %>
      <p class="on-stock"><%= item.item_inventories.stock.count %></p>
    </div>
  </div>

  <div class="col-3 item-inventory-count">
    <div class="form-group">
      <%= label_tag 'Sold' %>
      <p class="sold"><%= item.item_inventories.sold.count %></p>
    </div>
  </div>

  <div class="col-3 item-inventory-count">
    <div class="form-group">
      <%= label_tag 'Return' %>
      <p class="return"><%= item.item_inventories.return.count %></p>
    </div>
  </div>

  <div class="col-3 item-inventory-count">
    <div class="form-group">
      <%= label_tag 'Total' %>
      <p class="total"><%= item.item_inventories.count %></p>
    </div>
  </div>
</div>
