<div class="modal fade" id="item-inventory-by-serial-form-modal" tabindex="-1" role="dialog" aria-labelledby="item-inventory-by-serial-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item-inventory-by-serial-form-modal-label">Item Inventory By Serial</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'item_inventory[id]', nil %>

        <div class="row">
          <%= render partial: 'items/partials/warehouse_stock_sections' %>

          <div class="col-12">
            <div class="form-group">
              <%= label_tag 'item_inventory[serial_id]', 'Serial ID.' %>
              <%= text_field_tag 'item_inventory[serial_id]', nil, class: 'form-control', placeholder: 'Serial ID.' %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Save Changes', class: 'btn btn-primary save-item-inventory', data: { by: 'serial' } %>
      </div>
    </div>
  </div>
</div>
