<div class="col-12">
  <div class="form-group">
    <%= label_tag 'warehouse[id]', 'Warehouse' %>
    <%= select_tag 'warehouse[id]', options_from_collection_for_select(Warehouse.saved, 'id', 'name'), prompt: 'Select a warehouse...', class: 'form-control warehouse_ids' %>
  </div>
</div>

<div class="col-12">
  <div class="form-group">
    <%= label_tag 'stock_section[id]', 'Stock Section' %>
    <%= select_tag 'stock_section[id]', nil, prompt: 'Select a stock section...', class: 'form-control stock_section_ids' %>
  </div>
</div>
