<h2>Return Slips</h2>

<hr>

<%= render partial: 'return_slips/partials/index_buttons' %>

<hr>

<table id="return-slips-list" class="table table-hover" data-source="<%= return_slips_url(format: :json) %>">
  <thead>
    <tr>
    	<th>Item SKU</th>
    	<th>Item Serial</th>
    	<th>Description</th>
    	<th>Reasons</th>
    	<th>Total Items</th>
    	<th>Unit Price</th>
    	<th>Total Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<hr>

<%= render partial: 'return_slips/partials/index_buttons' %>
