<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Return Slip Information</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div>
        <h6>Item SKU</h6>
        <p class="font-italic"><%= @return_slip.item.sku %></p>
      </div>
    </div>

    <div class="col-3">
      <div>
        <h6>Total Items</h6>
        <p class="font-italic"><%= @return_slip.total_quantity %></p>
      </div>
    </div>

    <div class="col-3">
      <div>
        <h6>Unit Price</h6>
        <p class="font-italic"><%= @return_slip.unit_price %></p>
      </div>
    </div>

    <div class="col-3">
      <div>
        <h6>Total Price</h6>
        <p class="font-italic"><%= @return_slip.price %></p>
      </div>
    </div>

    <div class="col-12">
      <div>
        <h6>Description</h6>
        <p class="font-italic"><%= @return_slip.description %></p>
      </div>
    </div>
  </div>

  <hr>

  <%#= link_to 'Edit', edit_return_slip_path(@return_slip), class: 'btn btn-primary' %>
  <%= link_to 'Back', return_slips_path, class: 'btn btn-outline-secondary' %>
</div>
