<% @receivables.each do |receivable| %>
  <tr>
    <td><%= receivable.customer.name %></td>
    <td><%= receivable.from_date %></td>
    <td><%= receivable.to_date %></td>
    <td><%= humanized_money_with_symbol receivable.gross_sales %></td>
    <td><%= humanized_money_with_symbol receivable.net_sales %></td>
    <td><%= humanized_money_with_symbol receivable.net_amount_due %></td>
    <td><%= receivable.process_date %></td>
    <td>
      <%= link_to 'Show', item, class: 'btn btn-sm btn-outline-info' %>
      <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-sm btn-outline-warning' %>
      <%= link_to 'Destroy', item, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
