<h2><%= @customer.name %> Orders</h2>

<hr>

<%= render partial: 'customer_orders/partials/index_buttons' %>

<hr>

<table id="customer-order-list" class="table" data-source="<%= customer_customer_orders_url(customer_id: @customer.id, format: 'json') %>">
  <thead>
    <tr>
      <th>Reference Number</th>
      <th>Sale Date</th>
      <th>Gross Sales</th>
      <th>Net Sales</th>
      <th>Net Amount Due</th>
      <th>Warehouse</th>
      <th>Sales Person</th>
      <th>Delivery Date</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= render partial: 'customer_orders/partials/index_buttons' %>
