<style>
  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
    padding: 5px 10px;
  }

  .content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid darkgray;
  }

  .header {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
    text-align: center;
  }

  .addresses {
    margin-bottom: 20px;
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
  }

  .addresses__billing, .addresses__shipping {
    width: 50%;
    display: inline-block;
  }

  .contact-information {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
  }

  .ordered-items {
    width: 100%;
  }
</style>

<div class="content">
  <div class="header">
    <h1>ORDER FORM</h1>
  </div>

  <h2 class="customer-name"><%= @customer.name %></h2>

  <div class="addresses">
    <h2>Address Information</h2>

    <% billing_address = @customer_order.billing_address %>

    <% if billing_address.present? %>
      <div class="addresses__billing">
        <h3>Billing Address</h3>

        <span><strong><%= billing_address.business_name %></strong></span>

        <% billing_address.addresses.each do |address| %>
          <div class="addresses__billing__addresses">
            <%= address.basic_address %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% shipping_address = @customer_order.shipping_address %>

    <% if shipping_address.present? %>
      <div class="addresses__shipping">
        <h3>Shipping Address</h3>

        <span><strong><%= shipping_address.business_name %></strong></span>

        <% shipping_address.addresses.each do |address| %>
          <div class="addresses__shipping__addresses">
            <%= address.basic_address %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="contact-information">
    <h2>Contact Information</h2>

    <% contact = @customer.contact_informations.first %>

    <% if contact.present? %>
      <div class="contact-information__contact">
        <%= contact %>
      </div>
    <% end %>
  </div>

  <div class="order-information">
    <h2>Order Information</h2>

    <table class="ordered-items">
      <thead>
        <th>Quantity</th>
        <th>Product</th>
        <th>Per Unit</th>
        <th>Net Price</th>
      </thead>

      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
