<h4>Basic Information</h4>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :category_name, class: 'form-control', required: true, placeholder: 'Category Name' %>
    </div>

    <div class="form-group">
      <%= form.label :short_code %>
      <%= form.text_field :short_code, id: :category_short_code, class: 'form-control', required: true, placeholder: 'Category Code' %>
    </div>
  </div>
</div>
