<hr>

<%= form_with(model: category, local: true) do |form| %>
	<%= hidden_field_tag 'category[id]', category.id %>

  <%= render partial: 'shared/partials/form_error', locals: { resource: category } %>

	<%= render partial: 'categories/partials/form_buttons', locals: { form: form } %>

	<hr>

  <%= render partial: 'categories/partials/basic_information', locals: { form: form } %>

	<hr>

	<%= render partial: 'categories/partials/sub_categories', locals: { resource: category } %>

	<hr>

  <%= render partial: 'categories/partials/form_buttons', locals: { form: form } %>

	<%= render partial: 'categories/partials/sub_category_form_modal' %>
<% end %>
