<div class="row">
  <div class="col-6">
    <h4>Sub-Categories</h4>
  </div>
  <div class="col-6 align-right">
    <% if policy(:sub_category).allow_add? %>
      <%= link_to '#', id: 'add-sub-category-btn', class: 'btn btn-info', data: { toggle: 'modal', target: '#sub-category-form-modal' } do %>
        <i class="fa fa-plus"></i>
        <span>Add Sub Category</span>
      <% end %>
    <% end %>
  </div>

  <div class="col-12">
    <table id="sub-categories-list" class="table table-hover" data-source="<%#= categories_url(resource, format: 'json') %>">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% resource.sub_categories.each do |sub_category| %>
          <tr data-sub-category-id="<%= sub_category.id %>">
            <td><%= sub_category.name %></td>
            <td><%= sub_category.short_code %></td>
            <td>
              <% if policy(:sub_category).allow_edit? %>
                <%= link_to '#', class: 'edit-sub-category', data: { id: sub_category.id } do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <% end %>

              <% if policy(:sub_category).allow_delete? %>
                <%= link_to '#', class: 'destroy-sub-category', data: { id: sub_category.id } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
