<h4>Basic Information</h4>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Customer name' %>
    </div>

    <div class="form-group">
      <%= form.label :owner, 'Owner' %>
      <%= form.text_field :owner, id: 'owner', class: 'form-control', placeholder: 'Owner' %>
    </div>

    <div class="form-group">
      <%= form.label :email, 'Email Address' %>
      <%= form.text_field :email, class: 'form-control', placeholder: 'Customer email' %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :type_of_receipt, 'Type of Receipt' %>
      <%= form.select(:type_of_receipt, Customer.type_of_receipts.map { |k, v| [k.titleize, v] }, { prompt: 'Select Type of Receipt...', :selected => Customer.type_of_receipts[@customer.type_of_receipt]}, { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <%= form.label :classification, 'Classification' %>
      <%= form.select(:classification, Customer.classifications.map { |k, v| [k.titleize, v] }, { prompt: 'Select a Customer Classification...', :selected => Customer.classifications[@customer.classification] }, { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <%= form.label :current_balance, 'Current Balance' %>
      <%= form.text_field :current_balance, class: 'form-control', required: true, placeholder: 'Current Balance', readonly: true %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= label_tag :salesman, 'Salesman' %>
      <%= select_tag 'customer[salesman_id]', options_for_select(@salesmen.collect { |sm| [sm.contact_information.name, sm.contact_information.id] }, selected: @customer.salesman_id), { prompt: 'Select a Salesman...', class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= label_tag 'customer[admin_credit_hold]', 'Admin Credit Hold', class: 'font-weight-bold disp-block' %>

      <%= label_tag '', class: 'switch' do %>
        <%= form.check_box :admin_credit_hold, id: 'customer_admin_credit_hold' %>
        <span class="slider round"></span>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag 'customer[has_bounced_cheq]', 'Has Bounced Cheque', class: 'font-weight-bold disp-block' %>

      <%= label_tag '', class: 'switch' do %>
        <%= form.check_box :has_bounced_cheq, id: 'customer_has_bounced_cheq' %>
        <span class="slider round"></span>
      <% end %>
    </div>
  </div>
</div>
