<h4>Collection Information</h4>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= label_tag :credit_terms, 'Credit Terms' %>
      <%= select_tag 'collection_information[credit_term]', options_for_select(CollectionInformation.credit_terms.map { |k, v| [k.humanize.capitalize, v] }, selected: CollectionInformation.credit_terms[@customer.collection_information.credit_term]), { id: 'ci-credit-terms', class: 'form-control', required: true } %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= label_tag 'collection_information[credit_limit]', 'Credit Limit' %>
      <%= text_field_tag 'collection_information[credit_limit]', number_to_currency(@customer.collection_information.try(:credit_limit), unit: '', precision: 2), class: 'form-control currency-field', required: true, placeholder: 'Credit Limit' %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= label_tag :contact, 'Contact' %>
      <%= select_tag 'collection_information[contact_info]', options_for_select(customer.contact_informations.map { |contact| [contact.name, contact.id] }, selected: customer.collection_information.try(:contact).try(:id)), { prompt: 'Choose Contact...', class: 'form-control' } %>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <%= label_tag 'collection_information[counter_day]', 'Counter day and time' %>

      <%= hidden_field_tag 'collection_information[counter_day]', @customer.collection_information.counter_day %>
      <div class="col-12 no-padding">
        <div class="row">
          <div class="col-6">
            <div id="week-picker-counter_day" class="center-y"></div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-5 time-range-picker">

              <%= text_field_tag 'collection_information[counter_time_from]', @customer.collection_information.get_counter_time.first, class: 'form-control time time-only-picker', required: true %>
              </div>
              <div class="col-5">
                <%= text_field_tag 'collection_information[counter_time_to]', @customer.collection_information.get_counter_time.last, class: 'form-control time time-only-picker', required: true %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <%= label_tag 'collection_information[collection_day]', 'Collection day and time' %>
      <%= hidden_field_tag 'collection_information[collection_day]', @customer.collection_information.collection_day %>
      <div class="col-12 no-padding">
        <div class="row">
          <div class="col-6">
            <div id="week-picker-collection_day" class="center-y"></div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-5 time-range-picker">

                <%= text_field_tag 'collection_information[collection_time_from]', @customer.collection_information.get_collection_time.first, class: 'form-control time time-only-picker', required: true %>
              </div>
              <div class="col-5">
                <%= text_field_tag 'collection_information[collection_time_to]', @customer.collection_information.get_collection_time.last, class: 'form-control time time-only-picker', required: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
