  <hr>

<%= form_with(model: customer, local: true) do |form| %>
  <%= hidden_field_tag 'resource[id]', customer.id %>
  <%= hidden_field_tag 'resource[type]', 'Customer' %>

  <%= render partial: 'shared/partials/form_error', locals: { resource: customer } %>

  <%= render partial: 'customers/partials/form_buttons', locals: { form: form, customer: customer } %>

  <hr>

  <%= render partial: 'customers/partials/basic_information', locals: { form: form } %>

  <hr>

  <%= render partial: 'customers/partials/collection_information', locals: { customer: customer } %>

  <hr>

  <%= render partial: 'shared/partials/addresses', locals: { resource: customer, resource_type: 'Customer', address_resource: CustomerAddress } %>

  <hr>

  <%= render partial: 'shared/partials/discounts', locals: { resource: customer, resource_type: 'Customer' } %>

  <hr>

  <%= render partial: 'shared/partials/contact_informations', locals: { resource: customer, resource_type: 'Customer' } %>

  <hr>

  <%= render partial: 'customers/partials/form_buttons', locals: { form: form, customer: customer } %>

  <%= render partial: 'customers/partials/address_form_modal', locals: { customer: customer } %>
  <%= render partial: 'shared/partials/discount_form_modal', locals: { brands: @brands } %>
  <%= render partial: 'shared/partials/contact_information_form_modal' %>
<% end %>

<script type="text/javascript">
  var brands = "<%= j(@brands.to_json.html_safe) %>";
</script>
