<div class="actions align-right">
  <%= form.submit class: 'btn btn-success' %>
  <%= link_to 'Discard', customer_path(customer, axn: 'discarded'), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if customer.unsaved? %>
  <%= link_to 'Back', customers_path, class: 'btn btn-outline-secondary' %>
</div>
