<%= link_to 'New Customer', new_customer_path, class: 'btn btn-primary' if policy(Customer).allow_add? %>
<% if policy(Customer).allow_delete? %>
  <button type="button" id="archive-selected" class="btn btn-danger archive-selected">Archive Selected</button>
<% end %>
