<h4>Basic Information</h4>

<div class="form-group">
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Role name' %>
</div>

<div class="form-group">
  <%= form.label :role_code, 'Code' %>
  <%= form.text_field :role_code, class: 'form-control', required: true, placeholder: 'Role code' %>
</div>

<div class="form-group">
  <%= form.label :description, 'Description' %>
  <%= form.text_area :description, class: 'form-control', placeholder: 'Role Description' %>
</div>
