<hr>

<%= form_with(model: role, local: true) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: role } %>

  <%= render partial: 'roles/partials/form_buttons', locals: { form: form } %>

  <hr>

  <div class="row">
    <div class="col-6">
      <%= render partial: 'roles/partials/basic_information', locals: { form: form, role: role } %>
    </div>

    <div class="col-6">
      <%= render partial: 'roles/partials/permissions', locals: { role: role } %>
    </div>
  </div>

  <hr>

  <%= render partial: 'roles/partials/form_buttons', locals: { form: form } %>
<% end %>
