<h4>Permissions</h4>

<% if Permission.all.empty? %>
	<div class="form-group">
		<label>No Permissions Available</label>
	</div>
<% else %>
	<% Permission.find_each do |permission| %>
	 <div class="form-group inline-form-toggle">
	  	<%= label_tag '', class: 'switch' do %>
				<%= check_box_tag "permission[#{permission.permission_code}]", nil, role.has_permission?(permission.permission_code) %>
				<span class="slider round"></span>
	  	<% end %>

	  	<%= label_tag "permission[#{permission.permission_code}]", permission.name %>
	  </div>
	<% end %>
<% end %>
