<h4>Basic Information</h4>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= form.label :item_id, 'Item' %>
      <%= form.select :item_id, options_from_collection_for_select(Item.saved, 'id', 'name'), { prompt: 'Select an item...', }, { class: 'form-control item-codes', id: 'item_ids' } %>
    </div>

    <!-- <div class="form-group">
      <%#= form.label :item_inventory_serial, 'Serial' %>
      <%#= form.select :item_inventory_serial, options_from_collection_for_select(@selection, 'id', 'serial_id'), { prompt: 'Select Serial No...', selected: @selected }, { class: 'form-control', id: 'item_inventory_serials' } %>
    </div> -->
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :total_quantity, 'Total Items' %>
      <%= form.text_field :total_quantity, class: 'form-control numeric-field', required: true, placeholder: 'Total quantity' %>
    </div>

    <div class="form-group">
      <%= label_tag 'item_status', 'Item Status' %>
      <%= select_tag 'item_status', options_for_select(['Good', 'Bad']), { id: 'item_status', class: 'form-control', required: true } %>
      <%#= form.select :reasons, options_for_select(['Broken', 'Factory Defect', 'Lacking Parts', 'Slow Moving', 'No Box'], return_slip.reasons), {}, { id: 'reasons', class: 'form-control', required: true, multiple: true } %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :unit_price, 'Unit Price' %>
      <%= form.text_field :unit_price, class: 'form-control currency-field', required: true, placeholder: 'Unit Price' %>
    </div>

    <div class="form-group">
      <%= form.label :price, 'Price' %>
      <%= form.text_field :price, class: 'form-control currency-field', required: true, placeholder: 'Total Price' %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= form.label :description, 'Description' %>
      <%= form.text_area :description, class: 'form-control', required: true, placeholder: 'Description', rows: 5 %>
    </div>
  </div>
</div>
