<hr>

<%= form_with(model: return_slip, local: true) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: return_slip } %>

  <%= render partial: 'return_slips/partials/form_buttons', locals: { form: form } %>

  <hr>

  <%= render partial: 'return_slips/partials/basic_information', locals: { form: form, return_slip: return_slip } %>

  <hr>

  <%= render partial: 'return_slips/partials/form_buttons', locals: { form: form } %>
<% end %>
