<div class="card card-login mx-auto">
  <div class="card-header"><h1>Login</h1></div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mb-3' }) do |f| %>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="user[email]" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="user[password]" id="inputPassword" class="form-control" placeholder="Password" required="required">
      </div>

      <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
    <% end %>

    <div class="text-center">
      <%= render "users/shared/links" %>
    </div>
  </div>  
</div>
