<h2>Users</h2>

<%= render partial: 'users/partials/index_buttons' %>

<hr>

<table id="users-list" class="table table-hover" data-source="<%= users_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<br>

<%= render partial: 'users/partials/index_buttons' %>

<script>

</script>
