<h2>Salesmen</h2>

<%= render partial: 'users/partials/salesmen/index_buttons' %>

<hr>

<table id="salesmen-list" class="table table-hover" data-source="<%= salesmen_users_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<%= render partial: 'users/partials/salesmen/index_buttons' %>
