<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Users Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6 class="font-weight-bold">Name</h6>
        <p class="font-italic"><%= @user.contact_information.name %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6 class="font-weight-bold">Username</h6>
        <p class="font-italic"><%= @user.username %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6 class="font-weight-bold">Email</h6>
        <p class="font-italic"><%= @user.email %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div>
        <h6 class="font-weight-bold">Phone 1</h6>
        <p class="font-italic"><%= @user.contact_information.contact_number_1 %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6 class="font-weight-bold">Phone 2</h6>
        <p class="font-italic"><%= @user.contact_information.contact_number_1 %></p>
      </div>
    </div>
    <div class="col-4">
      <div>

      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h4>Roles</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if @user.roles.empty? %>
        <p class="font-italic">None</p>
      <% else %>
        <ul>
          <% @user.roles.find_each do |role| %>
            <li><label><%= role.name %></label> - <i><%= role.description %></i></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h4>Permissions</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if @user.permissions.empty? %>
        <p class="font-italic">None</p>
      <% else %>
        <ul>
          <% @user.permissions.find_each do |permission| %>
            <li><label><%= permission.name %></label> - <i><%= permission.description %></i></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <hr>

  <%= link_to 'Edit', edit_user_path(@user, type: params[:type]), class: 'btn btn-primary' if policy(User).allow_edit? %>
  <% path = params[:type].present? ? salesmen_users_path : users_path %>
  <%= link_to 'Back', path, class: 'btn btn-outline-secondary' %>

</div>
