<h1>Customer Order</h1>

<%= form_with(model: @customer_order, url: [@customer_order.customer, @customer_order], local: true) do |f| %>

<%= render partial: 'shared/partials/form_error', locals: { resource: @customer_order } %>

<table class="table table-borderless customer-details">
  <tbody>
    <tr>
      <td class="cell-label"><%= f.label :customer, 'Customer' %></td>
      <td>
        <%= @customer_order.customer.name %>
      </td>

      <td class="cell-label"><%= f.label :terms, 'Terms' %></td>
      <td>
        <%= @customer_order.customer.collection_information.credit_term.humanize %>
      </td>
    </tr>
    <tr>
      <td class="cell-label"><%= f.label :warehouse, 'Warehouse' %></td>
      <td>
        <%= f.collection_select(:warehouse_id, Warehouse.all, :id, :name, { selected: @customer_order.warehouse_id }, { id: "warehouse-select", class: "form-control" } ) %>
      </td>
      <td class="cell-label"><%= f.label :salesman_id,'PO Reference' %></td>
      <td>
        <%= f.text_field :po_reference, id: "order-po",:class => "form-control"  %>
      </td>
    </tr>
    <tr>
      <td class="cell-label"><%= f.label :billing_address_id, 'Billing Address' %></td>
      <td>
        <%= f.select :billing_address_id, options_for_select( @customer_order.customer.nil? ? [] : @customer_order.customer.customer_addresses.where.not(tax_id: [nil, '']).map { |addr| ["#{addr.tax_id} - #{addr.business_name}", addr.id] }, @customer_order.billing_address_id), { }, { class:  "form-control", id: "billing-address" }  %>
      </td>
      <td class="cell-label"><%= f.label :sale_date, 'Sale Date' %></td>
      <td>
        <div class="form-row">
          <div class="form-group col-md-5"><%= f.text_field :sale_date, id: "order-sale-date",:class => "form-control date-picker-field"  %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cell-label"><%= f.label :shipping_address_id, 'Delivery Address' %></td>
      <td>
        <%= f.select :shipping_address_id, options_for_select( @customer_order.customer.nil? ? [] : @customer_order.customer.customer_addresses.map { |addr| ["#{addr.tax_id} - #{addr.business_name}", addr.id] }, @customer_order.shipping_address_id), { }, { class:  "form-control", id: "shipping-address" }  %>
      </td>
      <td class="cell-label"><%= f.label :delivery_date, 'Delivery Date' %></td>
      <td>
        <div class="form-row">
          <div class="form-group col-md-5"><%= f.text_field :delivery_date, id: "order-delivery-date",:class => "form-control date-picker-field"  %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cell-label"><%= f.label :customer_order_checkers, 'Checked By' %></td>
      <td>
        <%= f.select :checker_ids, ((@customer_order.warehouse.nil? || @customer_order.warehouse.personnels.empty?) ? User.joins(:contact_information).saved : @customer_order.warehouse.personnels.joins(:contact_information)).collect{ |u| [u.contact_information.name, u.id] }, { }, { multiple: true, class:  "form-control select-picker", id: "order-checkers" }  %>
      </td>
      <td class="cell-label"><%= f.label :salesman_id,'Sold By' %></td>
      <td>
        <%= f.select :salesman_id, options_for_select(User.salesmen.saved.collect { |sm| [sm.contact_information.name, sm.id] }), { prompt: 'Select a Salesman...' }, { class: 'form-control', id: 'salesman' } %>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="text-align: right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" style="text-align: right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item-browser"><i class="fa fa-plus"></i> Add Order Item</button>
        <button type="button" class="btn btn-primary" id="sales-invoice-btn"><i class="fa fa-clipboard-list"></i> Sales Invoice</button>
        <button type="button" class="btn btn-primary" id="delivery-rcpt-btn"><i class="fa fa-clipboard-list"></i> Delivery Receipt</button>
        <button type="button" class="btn btn-primary" id="order-sheet-btn"><i class="fa fa-clipboard-list"></i> Order Sheet</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save Order</button>
        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete Order</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Order List</h2>
<div id="order-item-breakdown">
  <%= render partial: "customer_orders/partials/order_items", locals: { customer_order: @customer_order } %>
</div>

<div class="modal fade" id="item-browser" tabindex="-1" role="dialog" aria-labelledby="item-browser-label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item-browser-label">Search Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="item-add-error-msg">
        </div>
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="item-keyword" placeholder="Name, Model, SKU or Serial Number Search">
            </div>
          </div>

          <div class="row">&nbsp;</div>

          <div class="row" id="item-selection">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Stock Qty</th>
                  <th scope="col">SKU</th>
                  <th scope="col">Serial</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="item-selection-rows">

              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= content_for :inset_scripts do %>
<script type="text/javascript">
let searching = false;
let lastString = '';

//search function simulating fake asynchronous request
const doSearch = function(keyword){
  if(searching) return;

  searching = true;
  lastString = keyword; //remember last string search

  jQuery('.add-inventory-btn').off('click', appendItem);

  jQuery.getJSON(
    "<%= search_available_items_path %>",
    { s: keyword }
  ).done(function(data){
    let tblBody = jQuery('#item-selection-rows');

    tblBody.html('');
    jQuery.each(data.results, (i, inv) => {

      tblBody.append(`
        <tr id="item-${inv.id}-${inv.serial_no}">
          <td>${inv.stock_quantity}</td>
          <td>${inv.sku}</td>
          <td>${inv.serial_no}</td>
          <td>${inv.name}</td>
          <td><a href="#" class="btn btn-primary add-inventory-btn" data-item-id="${inv.id}" data-serial-id="${inv.serial_no}"><i class="fa fa-plus"></i> Add</a></td>
        </tr>
      `);
    });

    jQuery('.add-inventory-btn').on('click', appendItem);
  }).fail((e) => {
    tblBody.html(`
      <tr id="error">
        <td colspan="5">Unable to retrieve data: ${e}</td>
      </tr>
    `);

  }).always(() => {
    jQuery('#item-browser').modal('handleUpdate');

    searching = false;

    const newKeyword = jQuery("#item-keyword").val();
    //search again if string changed
    if( newKeyword !== lastString ){
      doSearch(newKeyword);
    }
  });
};

function disableBtns(){
  //temporarily remove listeners
  jQuery('.add-item-btn, .subtract-item-btn, .remove-item-btn').prop('disabled', true);

  jQuery('.add-item-btn').off('click', appendItem);
  jQuery('.subtract-item-btn').off('click', deductItem);
  jQuery('.remove-item-btn').off('click', removeItem);
}

const enableBtns = function(){
  //return event listeners
  jQuery('.add-item-btn, .subtract-item-btn, .remove-item-btn').prop('disabled', false);

  jQuery('.add-item-btn').on('click', appendItem);
  jQuery('.subtract-item-btn').on('click', deductItem);
  jQuery('.remove-item-btn').on('click', removeItem);

  doSearch( jQuery("#item-keyword").val() );
}

const appendItem = function(){
  let item_id = jQuery(this).data('item-id');
  let serial_id = jQuery(this).data('serial-id');

  jQuery('#item-add-err-msg').html('');

  disableBtns();

  jQuery.getJSON(
    "<%= add_item_to_order_customer_customer_order_path(customer_id: @customer_order.customer.id, id: @customer_order.id) %>",
    { item: item_id, serial: serial_id }
  ).done(function(data){
    let errListEl = jQuery('#item-add-error-msg');
    errListEl.removeClass('alert');
    errListEl.removeClass('alert-danger');

    jQuery.getScript(
      "<%= items_of_customer_customer_order_path(customer_id: @customer_order.customer.id, id: @customer_order.id) %>"
    ).always(enableBtns);

  }).fail((jqxhr) => {
    let errListEl = jQuery('#item-add-error-msg');
    let errorList = jQuery(document.createElement('ul'));
    let resp = JSON.parse(jqxhr.responseText);

    errListEl.addClass('alert alert-danger');

    jQuery.each(resp.result.errors, (err, msg) => {
      errorList.append(`<li>${msg}</li>`);
    });

    errListEl.append(errorList);


  }).always(() => {

  });

  return false;
};

const deductItem = function(){
  let item_id = jQuery(this).data('item-id');
  let serial_id = jQuery(this).data('serial-id');

  jQuery('#item-add-err-msg').html('');

  disableBtns();

  jQuery.getJSON({
    url: "<%= deduct_item_from_order_customer_customer_order_path(customer_id: @customer_order.customer.id, id: @customer_order.id) %>",
    type: 'DELETE',
    dataType: 'json',
    data: { item: item_id, serial: serial_id }
  }).done(function(data){
    let errListEl = jQuery('#item-add-error-msg');
    errListEl.removeClass('alert');
    errListEl.removeClass('alert-danger');

    jQuery.getScript(
      "<%= items_of_customer_customer_order_path(customer_id: @customer_order.customer.id, id: @customer_order.id) %>"
    ).always(enableBtns);

  }).fail((jqxhr) => {
    let errListEl = jQuery('#item-add-error-msg');
    let errorList = jQuery(document.createElement('ul'));
    let resp = JSON.parse(jqxhr.responseText);

    errListEl.addClass('alert alert-danger');

    jQuery.each(resp.result.errors, (err, msg) => {
      errorList.append(`<li>${msg}</li>`);
    });

    errListEl.append(errorList);

  }).always(() => {

  });

  return false;
};

const removeItem = function(){
  let item_id = jQuery(this).data('item-id');
  let serial_id = jQuery(this).data('serial-id');

  jQuery('#item-add-err-msg').html('');

  disableBtns();

  jQuery.ajax({
    url: "<%= remove_item_from_order_customer_customer_order_path(customer_id: @customer_order.customer.id, id: @customer_order.id) %>",
    type: 'DELETE',
    dataType: 'json',
    data: { item: item_id, serial: serial_id }
  }).done(function(data){
    let errListEl = jQuery('#item-add-error-msg');
    errListEl.removeClass('alert');
    errListEl.removeClass('alert-danger');

    jQuery.getScript(
      "<%= items_of_customer_customer_order_path(customer_id: @customer_order.customer.id, id: @customer_order.id) %>"
    ).always(enableBtns);

  }).fail((jqxhr) => {
    let errListEl = jQuery('#item-add-error-msg');
    let errorList = jQuery(document.createElement('ul'));
    let resp = JSON.parse(jqxhr.responseText);

    errListEl.addClass('alert alert-danger');

    jQuery.each(resp.result.errors, (err, msg) => {
      errorList.append(`<li>${msg}</li>`);
    });

    errListEl.append(errorList);

  }).always(() => {

  });

  return false;
};

jQuery(document).ready(function(){
  jQuery('#order-checkers').select2();
  jQuery('#salesman').select2();

  jQuery("#item-keyword").keyup(() => {
    doSearch( jQuery(this).val() );
  });

  jQuery("#item-browser").on('shown.bs.modal', () => {
    doSearch( jQuery("#item-keyword").val() );
  });

  doSearch( jQuery("#item-keyword").val() );
  enableBtns();
});
</script>
<% end %>
