
<table class="table order-item-details">
  
  <thead>
    <tr>
      <th></th>
      <th>Qty</th>
      <th>Product</th>
      <th>Serial</th>
      <th>Brand</th>
      <th>Per Unit</th>
      <th>Net Price</th>
    </tr>
  </thead>
  <tbody>
    <%- customer_order.customer_order_items.each do |coi| %>
      <%- if coi.item.is_identifiable? %>
        <%- coi.sales_details.each_with_index do |isd, i| %>
          <tr>
              <td>
                <button class="btn btn-danger subtract-item-btn" disabled data-item-id="<%= coi.item.id %>" data-serial-id="<%= isd.item_inventory.serial_id %>"><i class="fa fa-trash"></i></button>
              </td>
              <td>
                <div class="form-control"><%= coi.sales_details.size %></div>
              </td>
              <td><%= coi.item.name %></td>
              <td><%= isd.item_inventory.serial_id %></td>
              <td><%= coi.item.brand.present? ? coi.item.brand.name : '--' %></td>
              <td><%= coi.item.price %></td>

              <%- if i == 0 %>
                <td rowspan="<%= coi.sales_details.size %>"><%= coi.net_amount.format %></td>
              <%- end %>
          </tr>
        <%- end %>
      <%- else %>
        <tr>
            <td>
              <button class="btn btn-danger remove-item-btn" disabled data-id="<%= coi.id %>" data-item-id="<%= coi.item.id %>" data-serial-id=""><i class="fa fa-trash"></i></button>
            </td>
            <td>
              <div class="input-group col-md-6">
                <div class="input-group-prepend">
                  <button class="btn btn-primary subtract-item-btn" disabled data-id="<%= coi.id %>" data-item-id="<%= coi.item.id %>" data-serial-id=""><i class="fa fa-minus"></i></button>
                </div>
                <input type="text" disabled class="form-control" size="3" value="<%= coi.sales_details.size %>"></input>
                <div class="input-group-append">
                  <button class="btn btn-primary add-item-btn" disabled data-id="<%= coi.id %>" data-item-id="<%= coi.item.id %>" data-serial-id=""><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </td>
            <td><%= coi.item.name %></td>
            <td>&nbsp;</td>
            <td><%= coi.item.brand.present? ? coi.item.brand.name : '--' %></td>
            <td><%= coi.item.price %></td>
            <td><%= coi.net_amount.format %></td>
        </tr>
      <%- end %>
    <%- end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <div class="form-group">
          <label>Gross Amount</label>
          <input type="text" class="form-control" disabled value="<%= customer_order.gross_sales.format %>"
        </div>
      </td>
      <td colspan="3">
        <div class="form-group">
          <label>Net Sales</label>
          <input type="text" class="form-control" disabled value="<%= customer_order.net_sales.format %>"
        </div>
      </td>
      <td colspan="2">
        <div class="form-group">
          <label>Net Amount Due</label>
          <input type="text" class="form-control" disabled value="<%= customer_order.net_amount_due.format %>"
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
</table>
