<tr>
  <td><i class="fa fa-trash"></i></td>
  <td>
    <%= f.text_field :item_quantity, f.object.sale_details.size, class: "order-item-quantity" %>
  </td>
  <td>Product</td>
  <td>Per Unit</td>
  <td>Net Price</td>
</tr>
