<h4>Basic Information</h4>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Name' %>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <%= form.label :wh_code, 'Code' %>
      <%= form.text_field :wh_code, class: 'form-control', placeholder: 'Warehouse Code' %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= form.label :wh_address, 'Address' %>
      <%= form.text_field :wh_address, class: 'form-control', required: true, placeholder: 'Address' %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= label_tag :personnels, 'Personnels' %>
      <select name="personnels[]" id="personnel_ids" class="form-control" multiple>
        <% User.saved.find_each do |user| %>
          <% next if user.warehouse.present? && user.warehouse != @warehouse %>

          <option value="<%= user.id %>" <%= 'selected' if @warehouse.personnels.include?(user) %>><%= user.username %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
