<hr>

<%= form_with(model: warehouse, local: true) do |form| %>
	<%= hidden_field_tag 'warehouse[id]', warehouse.id %>

  <%= render partial: 'shared/partials/form_error', locals: { resource: warehouse } %>

  <%= render partial: 'warehouses/partials/form_buttons', locals: { form: form, warehouse: warehouse } %>

  <hr>

  <%= render partial: 'warehouses/partials/basic_information', locals: { form: form } %>

  <hr>

  <%= render partial: 'warehouses/partials/stock_sections', locals: { resource: warehouse } %>

  <hr>

  <%= render partial: 'warehouses/partials/form_buttons', locals: { form: form, warehouse: warehouse } %>

  <%= render partial: 'warehouses/partials/stock_section_form_modal' %>
<% end %>
