<div class="actions align-right">
  <%= form.submit class: 'btn btn-success'%>
  <%= link_to 'Discard', warehouse_path(warehouse, axn: 'discarded'), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if warehouse.unsaved? %>
  <%= link_to 'Back', warehouses_path, class: 'btn btn-outline-secondary' %>
</div>
