<div class="row">
  <div class="col-6">
    <h4>Stock Sections</h4>
  </div>
  <div class="col-6 align-right">
    <% if policy(StockSection).allow_add? %>
      <%= link_to '#', id: 'add-stock-section-btn', class: 'btn btn-info', data: { toggle: 'modal', target: '#stock-section-form-modal' } do %>
        <i class="fa fa-plus"></i>
        <span>Add Stock Section</span>
      <% end %>
    <% end %>
  </div>

  <div class="col-12">
    <table id="stock-sections-list" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% resource.stock_sections.each do |stock_section| %>
          <tr data-stock-section-id="<%= stock_section.id %>">
            <td><%= stock_section.name %></td>
            <td><%= stock_section.sc_code %></td>
            <td>
              <% if policy(StockSection).allow_edit? %>
                <%= link_to '#', class: 'edit-stock-section', data: { id: stock_section.id } do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <% end %>

              <% if policy(StockSection).allow_delete? %>
                <%= link_to '#', class: 'destroy-stock-section', data: { id: stock_section.id } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
