<div class="modal fade" id="stock-section-form-modal" tabindex="-1" role="dialog" aria-labelledby="stock-section-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stock-section-form-modal-label">Stock Section Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'stock_section[id]', nil %>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= label_tag :name, 'Name' %>
              <%= text_field_tag 'stock_section[name]', nil, class: 'form-control', placeholder: 'Name' %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= label_tag :sc_code, 'Code' %>
              <%= text_field_tag 'stock_section[sc_code]', nil, class: 'form-control', placeholder: 'Code' %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Save Changes', id: 'save-stock-section-btn', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
