<tr class="deductible-row">
  <td class="cell-label">
  	<button class="btn delete-deductible-item"><i class="fa fa-minus-circle"></i></button>
  </td>
  <td><%= text_field_tag "receivable[doc_data][invoice][deductibles][#{index}][name]", deductible['name'], class: "form-control deductible-name" %></td>
  <td>&nbsp;</td>
  <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][deductibles][#{index}][value]", deductible['value'], class: "form-control currency-field invoice misc-deductible-value auto-recalculate-all" %></td> 
</tr>