<h1>Consignment Receivable</h1>

<%= form_with(model: @receivable, local: true) do |f| %>

<%= render partial: 'shared/partials/form_error', locals: { resource: @receivable } %>

<table class="table consignor-details">
  <tbody>
    <tr>
      <td class="cell-label"><%= f.label :customer, 'Vendor' %></td>
      <td>
        <%= f.collection_select(:customer_id, Customer.all, :id, :name, { selected: @receivable.customer_id }, { id: "customer-select", class: "form-control selectpicker" } ) %>
      </td>

      <td class="cell-label"><%= f.label :template, 'Template' %></td>
      <td><%= f.select :template, options_for_select([['Default Template', 'default']], @receivable.template), {}, class: "form-control template-switcher" %></td>
    </tr>
    <tr>
      <td class="cell-label"><%= label_tag "receivable[doc_data][tax_type]", 'Tax Type' %></td>
      <td><%= text_field_tag "receivable[doc_data][tax_type]", @receivable.doc_data['tax_type'] || 'I6 VAT Exclusive Input Tx 12%', class: "form-control" %></td>
      <td class="cell-label"><%= f.label :start_date, 'Period' %></td>
      <td>
        <div class="form-row">
          <div class="form-group col-md-5"><%= f.text_field :start_date, id: "receivable_start_date",:class => "form-control"  %></div>
          <div class="form-group col-md-2 align-center"> To </div>
          <div class="form-group col-md-5"><%= f.text_field :end_date, id: "receivable_end_date", :class => "form-control" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cell-label"><%= f.label :customer_address_id, 'TIN Number' %></td>
      <td>
        <%= f.select :customer_address_id, options_for_select( @receivable.customer.nil? ? [] : @receivable.customer.customer_addresses.where.not(tax_id: [nil, ''], is_business_address: false).map { |addr| ["#{addr.tax_id} - #{addr.business_name}", addr.id] }, @receivable.customer_address_id), { }, { class:  "form-control", id: "taxable_business_address" }  %>
      </td>
      <td class="cell-label"><%= f.label :process_date, 'Processing Date' %></td>
      <td>
        <%= f.text_field :process_date, id: "receivable_process_date", :class => "form-control"  %>
      </td>
    </tr>
  </tbody>
</table>

<h2>Liquidation Summary</h2>
<table class="table consigment-details">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><i class="fa fa-trash"></i></th>
      <th>Store</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Contract No</th>
      <th>Dept/Class</th>
      <th>Gross Sales w/ VAT</th>
      <th>Margin w/ VAT</th>
      <th>Reduced Margin w/ VAT</th>
      <th>VIP Discount</th>
      <th>Net Margin w/ VAT</th>
      <th>Net Sales</th>
      <th>EWT</th>
      <th>Total Deductions</th>
      <th>Net Amount Due</th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :receivable_breakdowns do |f| %>
    <%= render "receivables/templates/#{@receivable_tpl}/receivable_breakdown", f: f %>
    <% end %>
    <tr class="4x-bot-border" id="breakdown-separator">
      <td colspan="16">&nbsp;</td>
    </tr>
  </tbody>
  <tfoot>
    <tr id="breakdown-add-btn-row">
      <td colspan="16">
        <%= link_to_add_fields 'Add Store Breakdown', f, :receivable_breakdowns,
          { partial: "receivables/templates/#{@receivable_tpl}/receivable_breakdown" },
          { class: 'btn btn-primary', id: 'add-breakdown-btn' } %>
      </td>
    </tr>

    <%- @receivable.doc_data['total'] = {} if @receivable.doc_data['total'].nil?  %>

    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= f.text_field :gross_sales, class: "form-control gross_sales breakdown-total no-focus-field currency-field" %></td>
      <td><%= text_field_tag "receivable[doc_data][total][margin_w_vat]", @receivable.doc_data['total']['margin_w_vat'] || '0', class: "form-control margin_w_vat breakdown-total no-focus-field currency-field" %></td>
      <td><%= text_field_tag "receivable[doc_data][total][reduced_margin_w_vat]", @receivable.doc_data['total']['reduced_margin_w_vat'], class: "form-control reduced_margin_w_vat breakdown-total no-focus-field currency-field" %></td>
      <td><%= text_field_tag "receivable[doc_data][total][vip_discount]", @receivable.doc_data['total']['vip_discount'], class: "form-control vip_discount breakdown-total no-focus-field currency-field" %></td>
      <td><%= text_field_tag "receivable[doc_data][total][net_margin]", @receivable.doc_data['total']['net_margin'], class: "form-control net_margin breakdown-total no-focus-field currency-field" %></td>
      <td><%= f.text_field :net_sales, class: "form-control net_sales breakdown-total no-focus-field currency-field" %></td>
      <td><%= text_field_tag "receivable[doc_data][total][ewt]", @receivable.doc_data['total']['ewt'], class: "form-control ewt breakdown-total no-focus-field currency-field" %></td>
      <td><%= text_field_tag "receivable[doc_data][total][total_deductions]", @receivable.doc_data['total']['total_deductions'], class: "form-control total_deductions breakdown-total no-focus-field currency-field" %></td>
      <td><%= f.text_field :net_amount_due, class: "form-control net_amount_due breakdown-total no-focus-field currency-field" %></td>
    </tr>
  </tfoot>
</table>

<%- @receivable.doc_data['invoice'] = {} if @receivable.doc_data['invoice'].nil?  %>

<h2>Liquidation Voucher</h2>
<table class="table consigment-voucher">
  <tbody>
    <tr>
      <td class="cell-label"><label>Sales</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][gross_sales]", @receivable.gross_sales, class: "form-control gross-sales-invoice no-focus-field currency-field" %></td>
    </tr>
    <tr class="2x-bot-border">
      <td class="cell-label"><label>Less Margins</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][margin_w_vat]", @receivable.doc_data['invoice']['margin_w_vat'], class: "form-control margin-w-vat-invoice no-focus-field currency-field" %></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="2x-bot-border">
      <td class="cell-label"><label>Net Sales</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][net_sales]", @receivable.net_sales, class: "form-control net-sales-invoice no-focus-field currency-field" %></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4">Less:</td>
    </tr>
    <tr>
      <td class="cell-label"><label>EWT</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][ewt]", @receivable.doc_data['invoice']['ewt'], class: "form-control ewt-invoice no-focus-field currency-field" %></td>
    </tr>
    <tr>
      <td class="cell-label" colspan="4"><label>Deductions</label></td>
    </tr>

    <%- @receivable.doc_data['invoice']['deductibles'] = {} if @receivable.doc_data['invoice']['deductibles'].nil?  %>
    <%- @receivable.doc_data['invoice']['deductibles'].each do |index, deductible| %>
      <%= render partial: "/receivables/templates/#{@receivable.template}/form_deductible", locals: { deductible: deductible, index: index } %>
    <% end %>
    <tr id="deductible-row">
      <td class="cell-label"><%= button_tag "Add Deductible", id: "add-deductible-btn", class: 'btn btn-primary' %></td>
      <td class="cell-label"></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td colspan="4" class="4x-bot-border">&nbsp;</td>
    </tr>
    <tr>
      <td class="cell-label" style="font-size: +1"><label>Net Amount Due</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][net_amount_due]", @receivable.net_amount_due, class: "form-control net-amount-due-invoice no-focus-field currency-field" %></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4">
        <h2>Invoice Details</h2>
        <table class="table width-80">
          <tbody>
            <tr>
              <td class="cell-label"><label>Sales</label></td>
              <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][sales]", @receivable.doc_data['invoice']['sales'], class: "form-control taxable-sales-invoice no-focus-field currency-field" %></td>
            </tr>
            <tr class="2x-bot-border">
              <td class="cell-label"><label>VAT</label></td>
              <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][vat]", @receivable.doc_data['invoice']['vat'], class: "form-control sales-tax-invoice no-focus-field currency-field" %></td>
            </tr>
            <tr class="4x-bot-border">
              <td class="cell-label"><label>Total Sales Invoice</label></td>
              <td class="money-cell"><%= text_field_tag "receivable[doc_data][invoice][total_sales]", @receivable.doc_data['invoice']['total_sales'], class: "form-control total-sales-invoice no-focus-field currency-field" %></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <button class="btn btn-primary btn-lg">Save Receivable</button>
        <a href="<%= receivables_path %>" class="btn btn-danger btn-lg">Cancel</a>
      </td>
    </tr>
  </tbody>
</table>
<% end %>

<div class="modal fade" id="store-breakdown-form-window" tabindex="-1" role="dialog" aria-labelledby="store-breakdown-form-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <form id="store-breakdown-form">
          <%= hidden_field_tag :breakdown_id, "", class: "breakdown_id breakdown" %>
          <%= hidden_field_tag :row_id, "", class: "row_id breakdown" %>

          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :customer_address_id, "Customer Address" %>
              <%= select_tag(:customer_address_id, options_for_select([]), class: "form-control customer_address_id breakdown") %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :dept_class, "Dept/Class" %>
              <%= text_field_tag :dept_class, "", class: "form-control dept_class breakdown"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :start_date, "Start Date" %>
              <%= text_field_tag :start_date, "", class: "form-control start_date breakdown" %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :end_date, "End Date" %>
              <%= text_field_tag :end_date, "", class: "form-control end_date breakdown" %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :contract_no, "Contract No" %>
              <%= text_field_tag :contract_no, "", class: "form-control contract_no breakdown"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :gross_sales, "Gross Sales" %>
              <%= text_field_tag :gross_sales, "", class: "form-control gross_sales auto-recalculate-brk breakdown currency-field" %>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :margin_w_vat, "Margin w/ VAT" %>
              <div class="input-group">
                <%= text_field_tag :margin_w_vat_pct, "", placeholder: '0.0', class: "form-control input-small margin_w_vat_pct breakdown percent-field"  %>
                <div class="input-group-append">
                  <div class="input-group-text">%</div>
                </div>
              </div>

              <%= text_field_tag :margin_w_vat, "", disabled: true, class: "form-control input-small margin_w_vat auto-recalculate-brk breakdown currency-field"  %>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :reduced_margin_w_vat, "Reduced Margin w/ VAT" %>
              <%= text_field_tag :reduced_margin_w_vat, "", class: "form-control reduced_margin_w_vat auto-recalculate-brk breakdown currency-field"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :vip_discount, "VIP Discount" %>
              <%= text_field_tag :vip_discount, "", class: "form-control vip_discount auto-recalculate-brk breakdown currency-field"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :net_margin, "Net Margin" %>
              <%= text_field_tag :net_margin, "", disabled: true, class: "form-control net_margin breakdown no-focus-field"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :net_sales, "Net Sales" %>
              <%= text_field_tag :net_sales, "", disabled: true, class: "form-control net_sales breakdown no-focus-field" %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :ewt, "EWT" %>
              <%= text_field_tag :ewt, "", class: "form-control ewt auto-recalculate-brk breakdown currency-field"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :total_deductions, "Total Deductions" %>
              <%= text_field_tag :total_deductions, "", class: "form-control total_deductions auto-recalculate-brk breakdown currency-field"  %>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <%= label_tag :net_amount_due, "Net Amount Due" %>
              <%= text_field_tag :net_amount_due, "", disabled: true, class: "form-control net_amount_due breakdown no-focus-field" %>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="store-breakdown-confirmed">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="no-customer-prompt" tabindex="-1" role="dialog" aria-labelledby="no-customer-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="no-customer-title">No Customer Selected</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please select a customer on available selections.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ajax-failed" tabindex="-1" role="dialog" aria-labelledby="ajax-failed-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ajax-failed-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Unable to process your request at the moment.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="breakdown-del-prompt" tabindex="-1" role="dialog" aria-labelledby="breakdown-del-prompt-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="breakdown-del-prompt-title">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you wanted to delete the store breakdown record?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="breakdown-delete-confirmed">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>


<%= content_for :inset_scripts do %>
<script type="text/javascript">
  let templateHandler = function(){
    AppHelper.loader('page', 'show');

    jQuery.post({
      url: "<%= tpl_switcher_receivables_path %>",
      data: { id: "<%= @receivable.id %>", tpl: jQuery(this).val() }
    }).done(() => {
      window.location.reload();
    }).fail(() => {
      jQuery("ajax-failed").modal('show');
    }).always(() => {
      AppHelper.loader('page', 'hide');
    });
  };

  let breakdownDeleteMarker = function(){
    console.log('delete');
    let breakdown_id = $(this).data('id');

    console.log('delete id ' + breakdown_id);

    if(breakdown_id == ""){
      $(this).closest('tr').remove();
      autoRecalculateAll();
    } else {
      jQuery("#breakdown-del-prompt").modal('show');
      jQuery("#breakdown-del-prompt").data('record_id', breakdown_id);
    }

  };

  let breakdownDeleteConfirm = function(){
    jQuery("#breakdown-del-prompt").modal('hide');
    AppHelper.loader('page', 'show');

    jQuery.post({
      url: "<%= del_breakdown_receivables_path %>",
      data: { id: jQuery("#breakdown-del-prompt").data('record_id') }
    }).done(() => {
      jQuery(".store-breakdown-item.item-" + jQuery("#breakdown-del-prompt").data('record_id')).remove();
      autoRecalculateAll();
    }).fail(() => {
      jQuery("ajax-failed").modal('show');
    }).always(() => {
      AppHelper.loader('page', 'hide');
    });
  };

  let autoRecalculateBreakdown = function() {
    let rowClass = 'breakdown';

    let gross = AppHelper.parseMoney(jQuery(".gross_sales." + rowClass).val());
    let margin_w_vat = AppHelper.parseMoney(jQuery(".margin_w_vat." + rowClass).val());
    let red_margin_v_vat = AppHelper.parseMoney(jQuery(".reduced_margin_w_vat." + rowClass).val());
    let vip_discount = AppHelper.parseMoney(jQuery(".vip_discount." + rowClass).val());
    let ewt = AppHelper.parseMoney(jQuery(".ewt." + rowClass).val());
    let total_deduct = AppHelper.parseMoney(jQuery(".total_deductions." + rowClass).val());

    let net_margin = margin_w_vat - red_margin_v_vat;

    jQuery(".net_margin." + rowClass).val(net_margin.toFixed(2));

    let net_sales = gross - net_margin;

    jQuery(".net_sales." + rowClass).val(net_sales.toFixed(2));

    let net_amount_due = net_sales - ewt - total_deduct;

    jQuery(".net_amount_due." + rowClass).val(net_amount_due.toFixed(2));
  };

  let autoRecalculateAll = () => {
    let gross_sales = 0;
    jQuery(".store-breakdown.gross_sales").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        gross_sales += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".gross_sales.breakdown-total").val(gross_sales.toFixed(2));
    jQuery(".gross-sales-invoice").val(gross_sales.toFixed(2));

    let margin_w_vat = 0;
    jQuery(".store-breakdown.margin_w_vat").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        margin_w_vat += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".margin_w_vat.breakdown-total").val(margin_w_vat.toFixed(2));
    jQuery(".margin-w-vat-invoice").val(margin_w_vat.toFixed(2));

    let red_margin_v_vat = 0;
    jQuery(".store-breakdown.reduced_margin_w_vat").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        red_margin_v_vat += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".reduced_margin_w_vat.breakdown-total").val(red_margin_v_vat.toFixed(2));

    let net_margin = 0;
    jQuery(".store-breakdown.net_margin").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        net_margin += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".net_margin.breakdown-total").val(net_margin.toFixed(2));

    let net_sales = 0;
    jQuery(".store-breakdown.net_sales").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        net_sales += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".net_sales.breakdown-total").val(net_sales.toFixed(2));
    jQuery(".net-sales-invoice").val(
      (AppHelper.parseMoney(jQuery(".gross-sales-invoice").val()) -
      AppHelper.parseMoney(jQuery(".margin-w-vat-invoice").val())).toFixed(2)
    );

    let vip_discount = 0;
    jQuery(".store-breakdown.vip_discount").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        vip_discount += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".vip_discount.breakdown-total").val(vip_discount.toFixed(2));

    let ewt = 0;
    jQuery(".store-breakdown.ewt").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        ewt += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".ewt.breakdown-total").val(ewt.toFixed(2));
    jQuery(".ewt-invoice").val(ewt.toFixed(2));

    let total_deduct = 0;
    jQuery(".store-breakdown.total_deductions").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        total_deduct += AppHelper.parseMoney( jQuery(this).val() );
      }
    });
    jQuery(".total_deductions.breakdown-total").val(total_deduct.toFixed(2));

    let net_amount_due = 0;
    jQuery(".store-breakdown.net_amount_due").each(function(idx) {
      if( !jQuery(this).hasClass("breakdown-total") ){
        net_amount_due += AppHelper.parseMoney( jQuery(this).val() );
      }
    });

    let deductions = 0;
    jQuery(".invoice.misc-deductible-value").each(function() {
      deductions += AppHelper.parseMoney( jQuery(this).val() );
    });

    jQuery(".net_amount_due.breakdown-total").val(net_amount_due.toFixed(2));
    jQuery(".net-amount-due-invoice").val((
      AppHelper.parseMoney(jQuery(".net-sales-invoice").val()) -
      AppHelper.parseMoney(jQuery(".ewt-invoice").val()) -
      deductions).toFixed(2)
    );

    jQuery(".total-sales-invoice").val( AppHelper.parseMoney(jQuery(".net-sales-invoice").val()) );
    jQuery(".taxable-sales-invoice").val(
      (AppHelper.parseMoney(jQuery(".net-sales-invoice").val()) / 1.12).toFixed(2)
    );
    jQuery(".sales-tax-invoice").val(
      (AppHelper.parseMoney(jQuery(".taxable-sales-invoice").val()) * 0.12).toFixed(2)
    );
  };

  let bizAddrLabeler = (addr, short = false) => {
    let label = (addr.business_name == null || addr.business_name.trim() == "") ? "" : addr.business_name + " - ";

    if(addr.location != null){
      if( !short ){
        label += (addr.location.unit == null || addr.location.unit.trim() == "") ? "" : addr.location.unit + " ";
        label += (addr.location.floor == null || addr.location.floor.trim() == "") ? "" : addr.location.floor + " ";
        label += (addr.location.apt_bldg_suite == null || addr.location.apt_bldg_suite.trim() == "") ? "" : addr.location.apt_bldg_suite + ", ";
        label += (addr.location.lot_no == null || addr.location.lot_no.trim() == "") ? "" : addr.location.lot_no + " ";
        label += (addr.location.street == null || addr.location.street.trim() == "") ? "" : addr.location.street + ", ";
        label += (addr.location.district == null || addr.location.district.trim() == "") ? "" : addr.location.district + ", ";
        label += (addr.location.town_city == null || addr.location.town_city.trim() == "") ? "" : addr.location.town_city + ", ";
        label += (addr.location.state_province == null || addr.location.state_province.trim() == "") ? "" : addr.location.state_province + ", ";
        label += (addr.location.country == null || addr.location.country.trim() == "") ? "" : addr.location.country + " ";
        label += (addr.location.postal_code == null || addr.location.postal_code.trim() == "") ? "" : addr.location.postal_code;
      } else {
        label += (addr.location.town_city == null || addr.location.town_city.trim() == "") ? "" : addr.location.town_city;
      }
    }

    return label;
  };

  let addDeductible = function() {
    jQuery("#add-deductible-btn").off('click', addDeductible);
    jQuery(".delete-deductible-item").off('click', delDeductible);
    jQuery(".auto-recalculate-all").off('keypress', autoRecalculateAll);
    jQuery(".auto-recalculate-all").off('change', autoRecalculateAll);

    AppHelper.loader('page', 'show');
    jQuery.ajax({
      url: "<%= add_deductible_entry_receivables_path %>",
      data: { index: jQuery(".deductible-row").length }
    }).done((data) => {
      jQuery(data).insertBefore( jQuery("#deductible-row").last() );
    }).always(() => {
      AppHelper.loader('page', 'hide');

      jQuery("#add-deductible-btn").on('click', addDeductible);
      jQuery(".delete-deductible-item").on('click', delDeductible);
      jQuery(".auto-recalculate-all").on('keypress', autoRecalculateAll);
      jQuery(".auto-recalculate-all").on('change', autoRecalculateAll);
    });

    return false;
  };

  let delDeductible = function(){
    jQuery(this).closest('tr').remove();
    return false;
  };

  let editBreakdown = function() {
    clrBreakdownForm();

    jQuery("#add-breakdown-btn").off('click', editBreakdown);

    let customer = jQuery("#customer-select");
    let rowEntry = jQuery(this).closest("tr");

    if(customer.val() == ""){
      jQuery("#no-customer-prompt").modal('show');
      jQuery("#add-breakdown-btn").on('click', editBreakdown);

    } else {
      AppHelper.loader('page', 'show');

      jQuery.getJSON({
        url: "<%= customer_path(1) %>".replace("1", customer.val())

      }).done(function(data){
        let options = "";

        jQuery.each(data.addresses, (idx, addr) => {
          options += "<option value='" + addr.id + "' data-name=\"" + bizAddrLabeler(addr, true) + "\">" + bizAddrLabeler(addr) + "</option>";
        });

        jQuery("#customer_address_id").html(options);

        let rowEntry = jQuery(this);
        let formSrc = jQuery("#store-breakdown-form");
        if( rowEntry.first().attr('id') != 'breakdown-add-btn-row' ){
          let row_record = formSrc.find("input.breakdown.row_id");
          formSrc.find("input.breakdown[type=text], textarea.breakdown, input.breakdown[type=hidden], select.breakdown").each(function(){
            let id_class = jQuery(this).attr('id');
            jQuery(this).val( rowEntry.find(".store-breakdown." + id_class).val( ) );
          });

          formSrc.find("input.breakdown.row_id").val( rowEntry.first().attr('id') );
        }

        if(jQuery('#start_date').val().trim() == "")
          jQuery('#start_date').val(jQuery('#receivable_start_date').val());

        if(jQuery('#end_date').val().trim() == "")
          jQuery('#end_date').val(jQuery('#receivable_end_date').val());

        jQuery("#store-breakdown-form-window").modal('show');

      }.bind(rowEntry)).fail(() => {
        jQuery("#ajax-failed").modal('show');
      }).always(() => {
        jQuery("#add-breakdown-btn").on('click', editBreakdown);
        AppHelper.loader('page', 'hide');
      });
    }

    return false;
  };

  let clrBreakdownForm = () => {
    jQuery("#store-breakdown-form").find("input[type=text], textarea, input[type=hidden]").val("");
  };

  let saveBreakdownEntry = () => {
    AppHelper.loader('page', 'show');

    jQuery(".edit-breakdown-btn").off('click', editBreakdown);

    let row_id = jQuery("#row_id").val();

    let formSrc = jQuery("#store-breakdown-form");
    let rowEntry = null;

    if(row_id == ""){
      //temporarily disable checkbox handler
      jQuery(".del-breakdown-btn").off('click', breakdownDeleteMarker);

      //create a new row in the entry table
      rowEntry = jQuery(jQuery("#add-breakdown-btn").attr("data-form-prepend"));

      let array_id = new Date().getTime();

      rowEntry.attr("id", "store-breakdown-" + array_id);
      rowEntry.find("input, select, textarea").each(function() {
        jQuery(this).attr("name", function() {
          return $(this)
            .attr("name")
            .replace("new_record", array_id);
        });

        if(jQuery(this).attr("id") != null && jQuery(this).attr("id") != ''){
          jQuery(this).attr("id", function() {
            return $(this)
              .attr("id")
              .replace("new_record", array_id);
          });
        }


      });

      rowEntry.insertBefore(jQuery("#breakdown-separator"));

      //re-attach checkbox handler
      jQuery(".del-breakdown-btn").on('click', breakdownDeleteMarker);

    } else {
      //update row entry
      rowEntry = jQuery("#" + row_id);

    }

    formSrc.find("input.breakdown[type=text], textarea.breakdown, input.breakdown[type=hidden], select.breakdown").each(function(){
      let id_class = jQuery(this).attr('id');

      rowEntry.find(".store-breakdown." + id_class).val( jQuery(this).val() );
      rowEntry.find("span." + id_class).html( jQuery(this).val() );
    });


    rowEntry.find("span.business_name").html( $(formSrc).find("#customer_address_id.breakdown").find('option:selected').data('name') );

    jQuery("#store-breakdown-form-window").modal('hide');
    jQuery(".edit-breakdown-btn").on('click', editBreakdown);

    autoRecalculateAll();

    AppHelper.loader('page', 'hide');
  };

  let onCustomerChange = function(){
    jQuery("#add-breakdown-btn").off('click', editBreakdown);

    AppHelper.loader('page', 'show');

    let customer = jQuery("#customer-select");

    jQuery.getJSON({
      url: "<%= customer_path(1) %>".replace("1", customer.val())

    }).done(function(data){
      let options = "";

      jQuery.each(data.addresses, (idx, addr) => {
        if(addr.location && addr.tax_id != null && addr.tax_id.trim() != ""){
          options += "<option value='" + addr.id + "' data-name=\"" + bizAddrLabeler(addr, true) + "\">" + addr.tax_id + " - " + bizAddrLabeler(addr) + "</option>";
        }
      });

      jQuery("#taxable_business_address").html(options);

    }).fail(() => {
      jQuery("#ajax-failed").modal('show');
    }).always(() => {
      jQuery("#add-breakdown-btn").on('click', editBreakdown);
      AppHelper.loader('page', 'hide');
    });
  };

  let marginPctChanged = function(){
    let gross = AppHelper.parseMoney(jQuery(".gross_sales.breakdown").val());
    let pct = AppHelper.parseMoney(jQuery(this).val());

    jQuery("#margin_w_vat").val( (gross * (pct / 100)).toFixed(2) );
  };

  jQuery(document).ready(() => {
    jQuery(".auto-recalculate-brk,.percent-field").inputfilter( {
      allowNumeric: true, // is numbers allowed [0-9]
      allowText: false,   // is text allowed [a-z|A-Z]
      allowEnter: false,   // is Enter allowed
      allowCustom: ['.'],    // Array of chars to allow
      regex: null,        // Regular expression of allowed chars
      maxLength: null,    // Numeric value representing the maximum number of chars permitted
      actionLog: false    // Log actions
    } );

    jQuery(".no-focus-field").on('focus', function(){
      $(this).blur();
    } );

    jQuery(".auto-recalculate-brk").on('keypress', autoRecalculateBreakdown);
    jQuery(".auto-recalculate-brk").on('change', autoRecalculateBreakdown);
    jQuery(".auto-recalculate-all").on('keypress', autoRecalculateAll);
    jQuery(".auto-recalculate-all").on('change', autoRecalculateAll);

    jQuery("#add-deductible-btn").on('click', addDeductible);
    jQuery("#add-breakdown-btn").on('click', editBreakdown);
    jQuery(".edit-breakdown-btn").on('click', editBreakdown);
    jQuery(".del-breakdown-btn").on('click', breakdownDeleteMarker);
    jQuery(".delete-deductible-item").on('click', delDeductible);

    jQuery("#customer-select").on('change', onCustomerChange);
    jQuery("#no-customer-prompt").on('hidden.bs.modal', function(){
      jQuery("#customer-select").focus();
    });

    jQuery("#store-breakdown-confirmed").on('click', saveBreakdownEntry);
    jQuery("#breakdown-delete-confirmed").on('click', breakdownDeleteConfirm);

    jQuery(".template-switcher").on('change', templateHandler);
    jQuery("#margin_w_vat_pct").on('change', marginPctChanged);

    jQuery(function(){
      jQuery('#receivable_start_date').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
          this.setOptions({
            maxDate:jQuery('#receivable_end_date').val()?jQuery('#receivable_end_date').val():false
          })
        },
        value: "<%= @receivable.start_date.blank? ? '-1970/01/18' : @receivable.start_date %>",
        timepicker:false
      });

      jQuery('#receivable_end_date').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
          this.setOptions({
            minDate:jQuery('#receivable_start_date').val()?jQuery('#receivable_start_date').val():false
          })
        },
        value: "<%= @receivable.end_date.blank? ? '-1970/01/02' : @receivable.end_date %>",
        timepicker:false
      });

      jQuery('#receivable_process_date').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
          this.setOptions({
            minDate: 0
          })
        },
        value: <%= @receivable.process_date.blank? ? 'new Date()' : "\"#{@receivable.process_date}\"".html_safe %>,
        timepicker:false
      });

      //modal breakdown form dates
      jQuery('#start_date').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
          this.setOptions({
            maxDate:jQuery('#end_date').val()?jQuery('#end_date').val():false
          })
        },
        timepicker:false
      });

      jQuery('#end_date').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
          this.setOptions({
            minDate:jQuery('#start_date').val()?jQuery('#start_date').val():false
          })
        },
        timepicker:false
      });
    });

    autoRecalculateAll();

  });
</script>

<% end %>
