<%- f.object.data ||= {} %>
<tr class="store-breakdown-item item-<%= f.object.id %>" data-id="<%= f.object.id %>" id="store-breakdown-<%= f.object.id %>">
	<td>
		<a href="#" class="btn edit-breakdown-btn"><i class="fa fa-edit"></i></a>
	</td>
	<td>
		<a href="#" class="btn del-breakdown-btn" data-id="<%= f.object.id %>"><i class="fa fa-trash"></i></a>
	</td>
	<td>
		<span class="business_name"><%= f.object.customer_address.nil? ? '' : f.object.customer_address.business_name %></span>
		<%= f.hidden_field :customer_address_id, class: "store-breakdown customer_address_id" %>
		<%= f.hidden_field :id, id: "breakdown_id", class: "store-breakdown breakdown_id" %>
	</td>
	<td>
		<span class="start_date"><%= f.object.start_date.nil? ? Time.now.strftime('%Y-%m-%d') : f.object.start_date.strftime('%Y-%m-%d') %></span>
		<%= f.hidden_field :start_date, class: "store-breakdown start_date" %>
	</td>
	<td>
		<span class="end_date"><%= f.object.end_date.nil? ? Time.now.strftime('%Y-%m-%d') : f.object.end_date.strftime('%Y-%m-%d') %></span>
		<%= f.hidden_field :end_date, class: "store-breakdown end_date" %>
	</td>
	<td>
		<span class="dept_class"><%= f.object.data['dept_class'].nil? ? "" : f.object.data['dept_class'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][dept_class]", f.object.data['dept_class'].nil? ? "" : f.object.data['dept_class'], 
			class: "store-breakdown dept_class"  %>
	</td>
	<td>
		<span class="contract_no"><%= f.object.data['contract_no'].nil? ? "" : f.object.data['contract_no'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][contract_no]", f.object.data['contract_no'].nil? ? "" : f.object.data['contract_no'], 
			class: "store-breakdown contract_no"  %>
	</td>
	<td>
		<span class="gross_sales"><%= f.object.gross_sales %></span>
		<%= f.hidden_field :gross_sales, class: "store-breakdown gross_sales currency-field" %>
	</td>
	<td>
		<span class="margin_w_vat"><%= f.object.data['margin_w_vat'].nil? ? "" : f.object.data['margin_w_vat'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][margin_w_vat_pct]", f.object.data['margin_w_vat_pct'].nil? ? "" : f.object.data['margin_w_vat_pct'], 
			class: "store-breakdown margin_w_vat_pct percent-field"  %>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][margin_w_vat]", f.object.data['margin_w_vat'].nil? ? "" : f.object.data['margin_w_vat'], 
			class: "store-breakdown margin_w_vat currency-field"  %>
	</td>
	<td>
		<span class="reduced_margin_w_vat"><%= f.object.data['reduced_margin_w_vat'].nil? ? "" : f.object.data['reduced_margin_w_vat'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][reduced_margin_w_vat]", f.object.data['reduced_margin_w_vat'].nil? ? "" : f.object.data['reduced_margin_w_vat'], class: "store-breakdown reduced_margin_w_vat currency-field"  %>
	</td>
	<td>
		<span class="vip_discount"><%= f.object.data['vip_discount'].nil? ? "" : f.object.data['vip_discount'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][vip_discount]", f.object.data['vip_discount'].nil? ? "" : f.object.data['vip_discount'], 
			class: "store-breakdown vip_discount currency-field"  %>
	</td>
	<td>
		<span class="net_margin"><%= f.object.data['net_margin'].nil? ? "" : f.object.data['net_margin'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][net_margin]", f.object.data['net_margin'].nil? ? "" : f.object.data['net_margin'], 
			class: "store-breakdown net_margin currency-field"  %>
	</td>
	<td>
		<span class="net_sales"><%= f.object.net_sales %></span>
		<%= f.hidden_field :net_sales, class: "store-breakdown net_sales" %>
	</td>
	<td>
		<span class="ewt"><%= f.object.data['ewt'].nil? ? "" : f.object.data['ewt'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][ewt]", f.object.data['ewt'].nil? ? "" : f.object.data['ewt'], 
			class: "store-breakdown ewt currency-field"  %>
	</td>
	<td>
		<span class="total_deductions"><%= f.object.data['total_deductions'].nil? ? "" : f.object.data['total_deductions'] %></span>
		<%= hidden_field_tag "receivable[receivable_breakdowns_attributes][#{f.index}][data][total_deductions]", f.object.data['total_deductions'].nil? ? "" : f.object.data['total_deductions'], 
			class: "store-breakdown total_deductions currency-field"  %>
	</td>
	<td>
		<span class="net_amount_due"><%= f.object.net_amount_due %></span>
		<%= f.hidden_field :net_amount_due, class: "store-breakdown net_amount_due currency-field" %>
	</td>
</tr>