<h1>Consignment Receivable</h1>

<table class="table consignor-details">
  <tbody>
    <tr>
      <td class="cell-label"><label>Customer</label></td>
      <td>
        <%= @receivable.customer.name %>
      </td>

      <td class="cell-label"><label>Template</label></td>
      <td><%= @receivable.template %></td>
    </tr>
    <tr>
      <td class="cell-label"><label>Tax Type</label></td>
      <td><%= @receivable.doc_data['tax_type'] || 'I6 VAT Exclusive Input Tx 12%' %></td>
      <td class="cell-label"><label>Period</label></td>
      <td>
        <div class="form-row">
          <div class="form-group col-md-5"><%= @receivable.start_date  %></div>
          <div class="form-group col-md-2 align-center"> To </div>
          <div class="form-group col-md-5"><%= @receivable.end_date %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cell-label"><label>TIN Number</label></td>
      <td>
        <%= @receivable.customer_address.tax_id  %>
      </td>
      <td class="cell-label"><label>Processing Date</label></td>
      <td>
        <%= @receivable.process_date %>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <a href="<%= edit_receivable_path(@receivable.id) %>" class="btn btn-primary btn-lg">Edit</a>
        <a href="<%= receivables_path %>" class="btn btn-danger btn-lg">Back To Listing</a>
      </td>
    </tr>
  </tbody>
</table>

<h2>Liquidation Summary</h2>
<table class="table consigment-details">
  <thead>
    <tr>
      <th>Store</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Contract No</th>
      <th>Dept/Class</th>
      <th>Gross Sales w/ VAT</th>
      <th>Margin w/ VAT</th>
      <th>Reduced Margin w/ VAT</th>
      <th>VIP Discount</th>
      <th>Net Margin w/ VAT</th>
      <th>Net Sales</th>
      <th>EWT</th>
      <th>Total Deductions</th>
      <th>Net Amount Due</th>
    </tr>
  </thead>
  <tbody>
    <% @receivable.receivable_breakdowns.each do |br| %>
    <tr class="store-breakdown-item">
      <td>
        <span class="business_name"><%= br.customer_address.business_name %></span>
      </td>
      <td>
        <span class="start_date"><%= br.start_date.nil? ? Time.now.strftime('%Y-%m-%d') : br.start_date.strftime('%Y-%m-%d') %></span>
      </td>
      <td>
        <span class="end_date"><%= br.end_date.nil? ? Time.now.strftime('%Y-%m-%d') : br.end_date.strftime('%Y-%m-%d') %></span>
      </td>
      <td>
        <span class="dept_class"><%= br.data['dept_class'].nil? ? "" : br.data['dept_class'] %></span>
      </td>
      <td>
        <span class="contract_no"><%= br.data['contract_no'].nil? ? "" : br.data['contract_no'] %></span>
      </td>
      <td>
        <span class="gross_sales"><%= br.gross_sales.format %></span>
      </td>
      <td>
        <span class="margin_w_vat"><%= Money.new(br.data['margin_w_vat'].nil? ? 0 : br.data['margin_w_vat']).format %></span>
      </td>
      <td>
        <span class="reduced_margin_w_vat"><%= Money.new(br.data['reduced_margin_w_vat'].nil? ? 0 : br.data['reduced_margin_w_vat']).format %></span>
      </td>
      <td>
        <span class="vip_discount"><%= Money.new(br.data['vip_discount'].nil? ? 0 : br.data['vip_discount']).format %></span>
      </td>
      <td>
        <span class="net_margin"><%= Money.new(br.data['net_margin'].nil? ? 0 : br.data['net_margin']).format %></span>
      </td>
      <td>
        <span class="net_sales"><%= br.net_sales.format %></span>
      </td>
      <td>
        <span class="ewt"><%= Money.new(br.data['ewt'].nil? ? 0 : br.data['ewt']).format %></span>
      </td>
      <td>
        <span class="total_deductions"><%= Money.new(br.data['total_deductions'].nil? ? 0 : br.data['total_deductions']).format %></span>
      </td>
      <td>
        <span class="net_amount_due"><%= br.net_amount_due.format %></span>
      </td>
    </tr>
    <% end %>

    <tr class="4x-bot-border" id="breakdown-separator">
      <td colspan="14">&nbsp;</td>
    </tr>
  </tbody>
  <tfoot>
    <%- @receivable.doc_data['total'] = {} if @receivable.doc_data['total'].nil?  %>

    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= @receivable.gross_sales.format %></td>
      <td><%= Money.new(@receivable.doc_data['total']['margin_w_vat']).format %></td>
      <td><%= Money.new(@receivable.doc_data['total']['reduced_margin_w_vat']).format %></td>
      <td><%= Money.new(@receivable.doc_data['total']['vip_discount']).format %></td>
      <td><%= Money.new(@receivable.doc_data['total']['net_margin']).format %></td>
      <td><%= @receivable.net_sales.format %></td>
      <td><%= Money.new(@receivable.doc_data['total']['ewt']).format %></td>
      <td><%= Money.new(@receivable.doc_data['total']['total_deductions']).format %></td>
      <td><%= @receivable.net_amount_due.format %></td>
    </tr>
  </tfoot>
</table>

<%- @receivable.doc_data['invoice'] = {} if @receivable.doc_data['invoice'].nil?  %>

<h2>Liquidation Voucher</h2>
<table class="table consigment-voucher">
  <tbody>
    <tr>
      <td class="cell-label"><label>Sales</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= @receivable.gross_sales.format %></td>  
    </tr>
    <tr class="2x-bot-border">
      <td class="cell-label"><label>Less Margins</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= Money.new(@receivable.doc_data['invoice']['margin_w_vat']).format %></td> 
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr class="2x-bot-border">
      <td class="cell-label"><label>Net Sales</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= @receivable.net_sales.format %></td> 
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4">Less:</td>
    </tr>
    <tr>
      <td class="cell-label"><label>EWT</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= Money.new(@receivable.doc_data['invoice']['ewt']).format %></td> 
    </tr>
    <tr>
      <td class="cell-label" colspan="4"><label>Deductions</label></td>
    </tr>

    <%- @receivable.doc_data['invoice']['deductibles'] = {} if @receivable.doc_data['invoice']['deductibles'].nil?  %>
    <%- @receivable.doc_data['invoice']['deductibles'].each do |index, deductible| %>
      <tr class="deductible-row">
        <td class="cell-label">
          &nbsp;
        </td>
        <td><%= deductible['name'] %></td>
        <td>&nbsp;</td>
        <td class="money-cell"><%= Money.new(deductible['value']).format %></td> 
      </tr>
    <% end %>
    
    <tr>
      <td colspan="4" class="4x-bot-border">&nbsp;</td>
    </tr>
    <tr>
      <td class="cell-label" style="font-size: +1"><label>Net Amount Due</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="money-cell"><%= @receivable.net_amount_due.format %></td> 
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4">
        <h2>Invoice Details</h2>
        <table class="table">
          <tbody>
            <tr>
              <td class="cell-label"><label>Sales</label></td>
              <td class="money-cell"><%= Money.new(@receivable.doc_data['invoice']['sales']).format %></td>
            </tr>
            <tr class="2x-bot-border">
              <td class="cell-label"><label>VAT</label></td>
              <td class="money-cell"><%= Money.new(@receivable.doc_data['invoice']['vat']).format %></td>
            </tr>
            <tr class="4x-bot-border">
              <td class="cell-label"><label>Total Sales Invoice</label></td>
              <td class="money-cell"><%= Money.new(@receivable.doc_data['invoice']['total_sales']).format %></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <a href="<%= edit_receivable_path(@receivable.id) %>" class="btn btn-primary btn-lg">Edit</a>
        <a href="<%= receivables_path %>" class="btn btn-danger btn-lg">Back To Listing</a>
      </td>
    </tr>
  </tbody>
</table>
