<div class="row">
	<%= form_with(model: store_breakdown, local: true) do |f| %>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :customer_addresses_id, "Customer Address" %>
		<%= f.collection_select(:customer_addresses_id, @receivable.customer.customer_addresses, :id, :name, class: ["form-control", :store_address, "breakdown-#{store_breakdown.id}"]) %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :from_date, "Start Date" %>
		<%= date_select :store_breakdown, :from_date, class: ["form-control", :store_from_date, "breakdown-#{store_breakdown.id}"] %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :to_date, "End Date" %>
		<%= date_select :store_breakdown, :to_date, class: ["form-control", :store_to_date, "breakdown-#{store_breakdown.id}"] %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :dept_class, "Dept/Class" %>
		<%= text_field_tag "store_breakdown[data][dept_class]", store_breakdown.data['dept_class'], class: ["form-control", :store_dept_class, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :contract_no, "Contract No" %>
		<%= text_field_tag "store_breakdown[data][contract_no]", store_breakdown.data['contract_no'], class: ["form-control", :store_contract_no, "breakdown-#{store_breakdown.id}"] %>  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :gross_sales, "Gross Sales" %>
		<%= f.text_field :gross_sales, class: ["form-control", :store_gross_sales, "breakdown-#{store_breakdown.id}"] %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :margin_w_vat, "Margin w/ VAT" %>
		<%= text_field_tag "store_breakdown[data][margin_w_vat]", store_breakdown.data['margin_w_vat'], class: ["form-control", :store_margin_w_vat, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :reduced_margin_w_vat, "Reduced Margin w/ VAT" %>
		<%= text_field_tag "store_breakdown[data][reduced_margin_w_vat]", store_breakdown.data['reduced_margin_w_vat'], class: ["form-control", :store_reduced_margin_w_vat, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :vip_discount, "VIP Discount" %>
		<%= text_field_tag "store_breakdown[data][vip_discount]", store_breakdown.data['vip_discount'], class: ["form-control", :store_vip_discount, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :net_margin, "Net Margin" %>
		<%= text_field_tag "store_breakdown[data][net_margin]", store_breakdown.data['net_margin'], class: ["form-control", :store_net_margin, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :store_net_sales, "Net Sales" %>
		<%= f.text_field :net_sales, class: ["form-control", :store_net_sales, "breakdown-#{store_breakdown.id}"] %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :ewt, "EWT" %>
		<%= text_field_tag "store_breakdown[data][ewt]", store_breakdown.data['ewt'], class: ["form-control", :store_ewt, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :total_deductions, "Total Deductions" %>
		<%= text_field_tag "store_breakdown[data][total_deductions]", store_breakdown.data['total_deductions'], class: ["form-control", :store_total_deductions, "breakdown-#{store_breakdown.id}"]  %>
	</div>
	<div class="form-group col-sm-12 col-md-6">
		<%= f.label :net_amount_due, "Net Amount Due" %>
		<%= f.text_field :net_amount_due, class: ["form-control", :store_net_amount_due, "breakdown-#{store_breakdown.id}"] %>
	</div>
	<% end %>
</div>