<h2>Customers</h2>

<hr>

<div class="row">
  <div class="col-md-9">
    <%= render partial: 'customers/partials/index_buttons' %>
  </div>

  <div class="col-md-3">
    <select id="listing" class="form-control">
      <option value="">Show All</option>
      <option value="_new">New</option>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
      <option value="archived">Archived</option>
    </select>
  </div>
</div>

<hr>

<table id="customers-list" class="table table-hover" data-source="<%= customers_url(format: 'json') %>">
  <thead>
    <tr>
      <th id="chkbx"><%= check_box_tag 'master_checkbox' %></th>
      <th>Name</th>
      <th>Current Balance</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<br>

<%= render partial: 'customers/partials/index_buttons' %>
