<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Customer Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Name</h6>
        <p class="font-italic"><%= @customer.name %></p>
      </div>

      <div>
        <h6>Owner</h6>
        <p class="font-italic"><%= @customer.owner %></p>
      </div>

      <div>
        <h6>Email </h6>
        <p class="font-italic"><%= @customer.email %></p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Type Of Receipt</h6>
        <p class="font-italic"><%= @customer.type_of_receipt.titleize %></p>
      </div>

      <div>
        <h6>Current Balance</h6>
        <p class="font-italic"><%= @customer.current_balance %></p>
      </div>

      <div>
        <h6>Classification</h6>
        <p class="font-italic"><%= @customer.classification.titleize %></p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Admin Credit Hold</h6>
        <p class="font-italic"><%= @customer.admin_credit_hold ? 'Yes' : 'No' %></p>
      </div>

      <div>
        <h6>Has Bounced Cheque</h6>
        <p class="font-italic"><%= @customer.has_bounced_cheq ? 'Yes' : 'No' %></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Collection Information</h3>
    </div>

    <div class="col-4">
      <h6>Salesman</h6>
      <p class="font-italic"><%= get_salesman(@customer.salesman_id) %></p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Counter Day & Time </h6>
        <p class="font-italic">
          <%= @customer.collection_information.counter_day %>
          <%= @customer.collection_information.counter_time %>
        </p>
      </div>

      <div>
        <h6>Collection Day & Time</h6>
        <p class="font-italic">
          <%= @customer.collection_information.collection_day %>
          <%= @customer.collection_information.collection_time %>
        </p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Credit Term</h6>
        <p class="font-italic"><%= @customer.collection_information.credit_term.humanize %></p>
      </div>

      <div>
        <h6>Credit Limit</h6>
        <p class="font-italic"><%= @customer.collection_information.credit_limit %></p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Contact Information</h6>
        <p class="font-italic"><%= @customer.collection_information.contact_informations.try(:first).try(:name) %></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Addresses</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <table id="addresses-list" class="table table-hover">
        <thead>
          <tr>
            <th>Primary</th>
            <th>Business</th>
            <th>Home</th>
            <th>Contact Person</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            <th>Fax</th>
            <th>Address</th>
          </tr>
        </thead>

        <tbody>
          <% @customer.addresses.each do |address| %>
            <tr data-address-id="<%= address.id %>">
              <td class="td0">
                <%= link_to 'Make Primary', '#', class: 'btn btn-sm btn-info make-primary-btn', data: { id: address.id, 'customer-id': @customer.id, 'customer-address-id': address.addressable.id } unless address.addressable.is_primary %>
                <%= address.addressable.is_primary ? 'Yes' : 'No' %>
              </td>
              <td><%= address.addressable.is_business_address ? 'Yes' : 'No' %></td>
              <td><%= address.addressable.is_home_address ? 'Yes' : 'No' %></td>
              <td><%= address.addressable.contact.try(:name) || 'N/A' %></td>
              <td><%= address.addressable.contact.try(:contact_number_1) || 'N/A' %></td>
              <td><%= address.addressable.contact.try(:contact_number_2) || 'N/A' %></td>
              <td><%= address.addressable.fax %></td>
              <td><%= "#{address.apt_bldg_suite} #{address.unit} #{address.floor} #{address.lot_no} #{address.street} #{address.brgy} #{address.district} #{address.town_city}, #{address.state_province}, #{address.country}, #{address.postal_code}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Discounts</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <table id="discounts-list" class="table table-hover">
        <thead>
          <tr>
            <th>Brands</th>
            <th>Discounts</th>
          </tr>
        </thead>

        <tbody>
          <% @customer.discounts.each do |cd| %>
            <tr data-discounts-id="<%= cd.id %>">
              <td><%= get_brand_name(cd.brand_id) %></td>
              <td>
                Less <%= cd.discount.join('%, Less ') %>%
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-primary' if policy(Customer).allow_edit? %>
  <%= link_to 'Back', customers_path, class: 'btn btn-outline-secondary' %>
  <%= link_to 'Add Address', "/customers/#{@customer.id}/edit#add-address", class: 'btn btn-outline-warning' if policy(Customer).allow_edit? %>
</div>
