<h2>Permissions</h2>

<hr>

<%= render partial: 'permissions/partials/index_buttons' %>

<hr>

<table id="permissions-list" class="table table-hover" data-source="<%= permissions_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<br>

<%= render partial: 'permissions/partials/index_buttons' %>
