<div class="container">
	<h2>Permission Details</h2>

	<hr>

	<div class="row">
    <div class="col-12">
      <h4>Permission Information</h4>
    </div>
  </div>

  <div class="row">
		<div class="col-4">
			<div>
				<h6>Permission Name</h6>
				<p class="font-italic"><%= @permission.name %></p>
			</div>
		</div>

		<div class="col-4">
			<div>
				<h6>Permission Code</h6>
				<p class="font-italic"><%= @permission.permission_code %></p>
			</div>
		</div>

		<div class="col-4">
			<div>
				<h6>Permission Description</h6>
				<p class="font-italic"><%= @permission.description %></p>
			</div>
		</div>
  </div>

  <hr>

	<%= link_to 'Edit', edit_permission_path(@permission), class: 'btn btn-primary' %>
	<%= link_to 'Back', permissions_path, class: 'btn btn-outline-secondary' %>
</div>
