<div class="row">
  <div class="col-6"><h4>Basic Information</h4></div>
  <div class="col-6">
    <div class="form-group inline-form-toggle">
      <%= label_tag 'roles[salesmen]', 'Set as Salesman' %>
      <%= label_tag '', class: 'switch' do %>
        <%= check_box_tag 'roles[salesmen]', '1', @user.has_role?('salesmen') %>
        <span class="slider round"></span>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= hidden_field_tag 'type', params[:type] %>
    <div class="form-group">
      <%= form.label :name %>
      <%= text_field_tag 'contact_information[name]', @user.contact_information.name, class: 'form-control', required: true, placeholder: 'Name' %>
    </div>

    <div class="form-group">
      <%= form.label :phone_1 %>
      <%= text_field_tag 'contact_information[contact_number_1]', @user.contact_information.contact_number_1, class: 'form-control', placeholder: 'Phone 1' %>
    </div>

    <div class="form-group">
      <%= form.label :phone_2 %>
      <%= text_field_tag 'contact_information[contact_number_2]', @user.contact_information.contact_number_2, class: 'form-control', placeholder: 'Phone 2' %>
    </div>

    <div class="form-group">
      <%= label_tag :warehouse, 'Assigned Warehouse' %>
      <%= select_tag 'user[warehouse_id]', options_for_select(Warehouse.saved.map { |wh| [wh.name, wh.id] }, selected: @user.warehouse_id), { prompt: 'Select warehouse assignment...', class: 'form-control' } %>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <%= form.label :username %>
      <%= form.text_field :username, id: :username, class: 'form-control', required: true, placeholder: 'User Name' %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :email, class: 'form-control', required: true, placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, id: :password, class: 'form-control match-password', placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= form.label :confirm_password %>
      <%= form.password_field :confirm_password, id: :confirm_password, class: 'form-control match-password', placeholder: 'Confirm Password' %>
    </div>
  </div>
</div>
