<hr>

<%= form_with(id: 'user-form', model: user, local: true, type: params[:type]) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: user } %>

  <%= render partial: 'users/partials/form_buttons', locals: { form: form } %>

  <hr>

  <%= render partial: 'users/partials/basic_information', locals: { form: form, contact_information: user.contact_information } %>

  <%= render partial: 'users/partials/permissions_section' %>

  <hr>

  <%= render partial: 'users/partials/form_buttons', locals: { form: form } %>
<% end %>

<script type="text/javascript">
  var action = "<%= j(params[:action]) %>";
</script>
