<div class="actions align-right">
  <%= form.submit class: 'btn btn-success'%>
  <% path = params[:type].present? ? salesmen_users_path : users_path %>
  <%= link_to 'Back', path, class: 'btn btn-outline-secondary' %>
</div>
