<hr id="user-role-permissions-hr">

<div class="col-12" id="user-role-permissions-section">
  <h5>Page Permissions</h5>

  <table class="table table-striped">
    <thead>
      <tr align="center">
        <th></th>
        <th>Add</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% available_role_permissions.each do |role| %>
        <tr>
          <th><%= role.name.titleize %></th>
          <td align="center">
            <% if role.has_permission?("#{role.role_code}_allow_add") %>
              <div class="form-group inline-form-toggle permission-toggles">
                <%= label_tag '', class: 'switch' do %>
                  <%= check_box_tag "role_permissions[#{role.role_code}_allow_add]", '1', @user.has_permission?("#{role.role_code}_allow_add") %>
                  <span class="slider round"></span>
                <% end %>
              </div>
            <% end %>
          </td>
          <td align="center">
            <% if role.has_permission?("#{role.role_code}_allow_edit") %>
              <div class="form-group inline-form-toggle permission-toggles">
                <%= label_tag '', class: 'switch' do %>
                  <%= check_box_tag "role_permissions[#{role.role_code}_allow_edit]", '1', @user.has_permission?("#{role.role_code}_allow_edit") %>
                  <span class="slider round"></span>
                <% end %>
              </div>
            <% end %>
          </td>
          <td align="center">
            <% if role.has_permission?("#{role.role_code}_allow_delete") %>
              <div class="form-group inline-form-toggle permission-toggles">
                <%= label_tag '', class: 'switch' do %>
                  <%= check_box_tag "role_permissions[#{role.role_code}_allow_delete]", '1', @user.has_permission?("#{role.role_code}_allow_delete") %>
                  <span class="slider round"></span>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
