<% @users.each do |user| %>
  <tr>
    <td><%= user.contact_information.name %></td>
    <td><%= user.contact_information.contact_number_1 %></td>
    <td><%= user.email %></td>
    <td>
    	<%= link_to 'Show', user_path(user, type: :salesmen), class: 'btn btn-sm btn-outline-info' %>
    	<%= link_to 'Edit', edit_user_path(user, type: :salesmen), class: 'btn btn-sm btn-outline-warning' %>
    	<%= link_to 'Destroy', user_path(user, type: :salesmen), method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>