<h2>Roles</h2>

<hr>

<%= render partial: 'roles/partials/index_buttons' %>

<hr>

<table id="roles-list" class="table table-hover" data-source="<%= roles_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<hr>

<%= render partial: 'roles/partials/index_buttons' %>
