<div class="container">
	<h2>Role Details</h2>

	<hr>

	<div class="row">
    <div class="col-12">
      <h4>Role Information</h4>
    </div>
  </div>

	<div class="row">
		<div class="col-4">
			<div>
				<h6>Name</h6>
				<p class="font-italic"><%= @role.name %></p>
			</div>
		</div>

		<div class="col-4">
			<div>
				<h6>Code</h6>
				<p class="font-italic"><%= @role.role_code %></p>
			</div>
		</div>

		<div class="col-4">
			<div>
				<h6>Description</h6>
				<p class="font-italic"><%= @role.description %></p>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
    <div class="col-12">
      <h4>Permissions</h4>
    </div>
  </div>

  <div class="row">
		<% if @role.permissions.empty? %>
			<p class="font-italic">None</p>
		<% else %>
			<ul>
				<% @role.permissions.find_each do |permission| %>
					<li><%= permission.name %></li>
				<% end %>
			</ul>
		<% end %>
  </div>

	<hr>

	<%= link_to 'Edit', edit_role_path(@role), class: 'btn btn-primary' %>
	<%= link_to 'Back', roles_path, class: 'btn btn-outline-secondary' %>
</div>
