<h2>Items</h2>

<%= render partial: 'items/partials/index_buttons' %>

<hr>

<table id="items-list" class="table table-hover" data-source="<%= items_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Item Code</th>
      <th>Price</th>
      <th>Dealer Price</th>
      <th>SRP Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<%= render partial: 'items/partials/index_buttons' %>
