<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Item Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Name</h6>
        <p class="font-italic"><%= @item.name %></p>
      </div>

      <div>
        <h6>Brand</h6>
        <p class="font-italic"><%= get_brand_name(@item.brand_id) || 'N/A' %></p>
      </div>

      <div>
        <h6>Is Bundle? </h6>
        <p class="font-italic"><%= @item.is_bundle ? 'Yes' : 'No' %></p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Price</h6>
        <p class="font-italic"><%= @item.price %></p>
      </div>

      <div>
        <h6>Dealer Price</h6>
        <p class="font-italic"><%= @item.dealer_price %></p>
      </div>

      <div>
        <h6>SRP</h6>
        <p class="font-italic"><%= @item.srp_price %></p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Details</h6>
        <p class="font-italic"><%= @item.details %></p>
      </div>

      <div>
        <h6>Item Code</h6>
        <p class="font-italic"><%= @item.sku %></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Item Gallery</h3>
    </div>
  </div>

  <hr>

  <%= render partial: 'items/partials/gallery', locals: { item: @item } %>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Item Inventories</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <%= render partial: 'items/partials/item_inventories_counts', locals: { item: @item } %>
    </div>
  </div>

  <hr>

  <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' if policy(Item).allow_edit? %>
  <%= link_to 'Back', items_path, class: 'btn btn-outline-secondary' %>
</div>
