<hr>

<%= form_with(model: brand, local: true) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: brand } %>

  <%= render partial: 'brands/partials/form_buttons', locals: { form: form } %>

  <hr>

  <%= render partial: 'brands/partials/basic_information', locals: { form: form } %>

  <hr>

  <%= render partial: 'brands/partials/form_buttons', locals: { form: form } %>
<% end %>
