<h4>Item Bundle Information</h4>

<div class="row">
  <div class="col-8">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Name' %>
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <%= form.label :bundle_set_quantity %>
      <%= form.text_field :bundle_set_quantity, class: 'form-control numeric-field', required: true, placeholder: 'Bundle Set' %>
    </div>
  </div>
</div>
