<hr>

<%= form_with(model: item_bundle, local: true) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: item_bundle } %>

  <%= render partial: 'item_bundles/partials/form_buttons', locals: { form: form } %>

  <hr>

  <%= render partial: 'item_bundles/partials/basic_information', locals: { form: form, item_bundle: item_bundle } %>

  <hr>

  <%= render partial: 'item_bundles/partials/items', locals: { form: form, item_bundle: item_bundle } %>

  <hr>

  <%= render partial: 'item_bundles/partials/form_buttons', locals: { form: form } %>
<% end %>
