<div class="items-header">
  <h4>Items</h4>
  <a href="#" class="btn btn-outline-primary add-bundled-item-btn">
    <i class="fa fa-plus"></i>
    Add Item
  </a>
</div>

<div class="row" id="items">
  <% if @item_bundle.bundled_items.present? %>
    <% @item_bundle.bundled_items.each_with_index do |bundled, i| %>
      <div class="col-8">
        <div class="form-group" id="item-name-container-<%= i %>">
          <%= label_tag "item-name-#{i}", 'Item Name' %>
          <%= select_tag 'items[]', options_from_collection_for_select(@items, 'id', 'name', bundled.item.id), { prompt: 'Select an item...', class: 'form-control item-names', id: "item-name-#{i}", data: { index: i } } %>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group" id="item-quantity-container-<%= i %>">
          <%= label_tag "item-quantity-#{i}", 'Quantity' %>
          <%= text_field_tag 'item_quantity[]', bundled.quantity, class: 'form-control', id: "item-quantity-#{i}" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-8">
      <div class="form-group" id="item-name-container-0">
        <%= label_tag 'item-name-0', 'Item Name' %>
        <%= select_tag 'items[]', options_from_collection_for_select(@items, 'id', 'name'), { prompt: 'Select an item...', class: 'form-control item-names', id: 'item-name-0', data: { index: 0 } } %>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" id="item-quantity-container-0">
        <%= label_tag 'item-quantity-0', 'Item Quantity' %>
        <%= text_field_tag 'item_quantity[]', nil, class: 'form-control', id: 'item-quantity-0' %>
      </div>
    </div>
  <% end %>
</div>

<script>
  var items = <%= raw @items.to_json %>;
</script>
