<h2>Receivables</h2>

<hr>

<%= render partial: 'receivables/partials/index_buttons' %>

<hr>

<table id="receivables-list" class="table" data-source="<%= receivables_url(format: 'json') %>">
  <thead>
    <tr>
      <th></th>
      <th>Reference Number</th>
      <th>Customer</th>
      <th>Gross</th>
      <th>Net</th>
      <th>Net Amount Due</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Invoice Date</th>
      
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= render partial: 'receivables/partials/index_buttons' %>
