<h4>Basic Information</h4>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Permission name' %>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <%= form.label :permission_code, 'Code' %>
      <%= form.text_field :permission_code, class: 'form-control', required: true, placeholder: 'Permission code' %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= form.label :description, 'Description' %>
      <%= form.text_area :description, class: 'form-control', required: true, placeholder: 'Permission Description' %>
    </div>
  </div>
</div>
