<hr>

<%= form_with(model: permission, local: true) do |form| %>
  <%= render partial: 'shared/partials/form_error', locals: { resource: permission } %>

  <%= render partial: 'permissions/partials/form_buttons', locals: { form: form } %>

  <hr>

  <%= render partial: 'permissions/partials/basic_information', locals: { form: form } %>

  <hr>

  <%= render partial: 'permissions/partials/form_buttons', locals: { form: form } %>
<% end %>
