label {
	font-weight: bold;
	color: #7e7e7e;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 20px;
}

.inline-block {
  display: inline-block;
}

.padding-side-15 {
  padding: 0 15px;
}

.no-padding {
  padding: 0;
}

.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.disp-block {
	display: block;
}

.inline-form-toggle {
	display: flex;
	align-items: center;

	label:last-child {
		margin-left: 10px;
	}
}

.align-right {
	text-align: right;
}

.align-center {
  text-align: center;
}

.owl-stage {
  margin: 0 auto;
}

// LOADER
.page-loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 4s linear infinite;
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 11;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
// LOADER

div[id$="list_filter"] input,
select[name$="list_length"] { // bootstrap form-control style
	display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div[id$="list_paginate"] { // bootstrap btn-group style
	position: relative;
  display: inline-flex;
  vertical-align: middle;

  a { // bootstrap btn style
  	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

span.select2-selection.select2-selection--multiple, span.select2-selection.select2-selection--single {
  border: 1px solid #ced4da;
}

span.select2-selection.select2-selection--single {
  min-height: 38px;
  padding: 5px 8px;
}

.dataTables_wrapper > .row:last-child > div:last-child {
  text-align: right;
}

.action-item {
  margin-right: 5px;
}
