
[type=checkbox] {
  transform: scale(1.5);
}

.add-btn {
  float: right;
}

.td0 {
  position: relative;

  .make-primary-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
    display: none;
  }
}

.delivery-schedule-section, .business-section {
  display: none;
}

.time-range-picker {
  margin-left: 40px;
}

.time {
  text-align: center;
}
