.input-number {
  text-align: center;
  font-weight: 600;
}

.items-header {
  align-items: end;
  display: flex;

  a {
    margin-left: auto;
  }
}

.remove-item-section {
  float: right;
}
