.item-inventory-count-section {
  padding-left: 15px;

  .item-inventory-count {
    font-weight: bold;
    border-left: 5px solid #cecece;
  }
}

.item-gallery {
  img {
    width: 100%;
  }
}

.modal-image {
  width: 100%;
}

.owl-stage {
  margin: 0 auto;
}
