// Place all the styles related to the OrderSlips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items-header {
  align-items: end;
  display: flex;

  a {
    margin-left: auto;
  }
}

.remove-item-section {
  float: right;
}
