<h2>Brands</h2>

<%= render partial: 'brands/partials/index_buttons' %>

<hr>

<table id="brands-list" class="table table-hover" data-source="<%= brands_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short code</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<%= render partial: 'brands/partials/index_buttons' %>
