<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Brand Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Name</h6>
        <p class="font-italic"><%= @brand.name %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6>Code</h6>
        <p class="font-italic"><%= @brand.short_code %></p>
      </div>
    </div>
  </div>

  <hr>

  <%= link_to 'Edit', edit_brand_path(@brand), class: 'btn btn-primary' if policy(Brand).allow_edit? %>
  <%= link_to 'Back', brands_path, class: 'btn btn-outline-secondary' %>

</div>
