<h2>Categories</h2>

<%= render partial: 'categories/partials/index_buttons' %>

<hr>

<table id="categories-list" class="table table-hover" data-source="<%= categories_url(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short code</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<%= render partial: 'categories/partials/index_buttons' %>
