<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Categories Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Name</h6>
        <p class="font-italic"><%= @category.name %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6>Code</h6>
        <p class="font-italic"><%= @category.short_code %></p>
      </div>
    </div>
  </div>

  <hr>

  <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' if policy(Category).allow_edit %>
  <%= link_to 'Back', categories_path, class: 'btn btn-outline-secondary' %>

</div>
