<div class="row">
  <div class="col-6">
    <h4>Addresses</h4>
  </div>
  <div class="col-6 align-right">
    <% if policy(address_resource).allow_add? %>
      <%= link_to '#', id: 'add-address-btn', class: 'btn btn-info', data: { toggle: 'modal', target: '#address-form-modal' } do %>
        <i class="fa fa-plus"></i>
        <span>Add Address</span>
      <% end %>
    <% end %>
  </div>

  <div class="col-12">
    <table id="addresses-list" class="table table-hover" data-source="<%#= addresses_url(format: 'json', resource: { id: resource.id, type: resource_type }) %>">
      <thead>
        <tr>
          <th>Primary</th>
          <th>Business</th>
          <th>Home</th>
          <th>Delivery</th>
          <th>Fax</th>
          <th>Address</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% resource.addresses.each do |address| %>
          <tr data-address-id="<%= address.id %>">
            <td>
              <div class="td0">
                <%= link_to 'Make Primary', '#', class: 'btn btn-sm btn-info make-primary-btn', data: { id: address.id, 'resource-type': resource_type, 'resource-id': resource.id, "addressable-id": address.addressable.id } unless address.addressable.is_primary %>
              </div>

              <%= address.addressable.is_primary ? 'Yes' : 'No' %>
            </td>
            <td><%= address.addressable.is_business_address ? 'Yes' : 'No' %></td>
            <td><%= address.addressable.is_home_address ? 'Yes' : 'No' %></td>
            <td><%= address.addressable.is_delivery_address ? 'Yes' : 'No' %></td>
            <td><%= address.addressable.fax %></td>
            <td><%= "#{address.apt_bldg_suite} #{address.unit} #{address.floor} #{address.lot_no} #{address.street} #{address.brgy} #{address.district} #{address.town_city}, #{address.state_province}, #{address.country}, #{address.postal_code}" %></td>
            <td>
              <% if policy(address_resource).allow_edit? %>
                <%= link_to '#', class: 'edit-address', data: { id: address.id } do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <% end %>

              <% if policy(address_resource).allow_delete? %>
                <%= link_to '#', class: 'destroy-address', data: { id: address.id } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
