<div class="modal fade" id="discount-form-modal" tabindex="-1" role="dialog" aria-labelledby="discount-form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discount-form-modal-label">Discount Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag 'discount[id]', nil, class: 'discount-fields' %>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= label_tag 'discount[brand_id]', 'Brand' %>
              <%= select_tag 'discount[brand_id]', options_from_collection_for_select(brands, 'id', 'name', ''), { include_blank: 'Empty selection will apply to all brand', id: 'discount_brand_id', class: 'form-control' } %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= label_tag 'Dicounting Count' %>
              <%= select_tag 'dicounting_type', options_for_select([['One', '1'], ['Two', '2'], ['Three', '3'], ['Four', '4'], ['Plus One', '5']]), id: 'discounting_type', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= label_tag 'From' %>
              <%= text_field_tag 'discount[from_month]', nil, placeholder: 'YYYY/MM/DD', class: 'form-control monthrange' %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= label_tag 'To' %>
              <%= text_field_tag 'discount[to_month]', nil, placeholder: 'YYYY/MM/DD', class: 'form-control monthrange' %>
            </div>
          </div>
        </div>

        <div class="row" id="discount-container"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <%= submit_tag 'Save Changes', class: 'btn btn-primary', id: 'save-discount-btn' %>
      </div>
    </div>
  </div>
</div>
