<div class="row">
  <div class="col-6">
    <h4>Discounts</h4>
  </div>
  <div class="col-6 align-right">
    <% if policy("#{resource_type.downcase}_discount".to_sym).allow_add? %>
      <%= link_to '#', id: 'add-discount-btn', class: 'btn btn-info', data: { toggle: 'modal', target: "#discount-form-modal" } do %>
        <i class="fa fa-plus"></i>
        <span>Add Discount</span>
      <% end %>
    <% end %>
  </div>

  <div class="col-12">
    <table id="discounts-list" class="table table-hover" data-source="<%#= discounts_url(format: 'json') %>">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Discount</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% resource.discounts.each do |cd| %>
          <tr data-discount-id="<%= cd.id %>">
            <td><%= get_brand_name(cd.brand_id) %></td>
            <td>
              Less <%= cd.discount.join('%, Less ') %>%
            </td>
            <td>
              <% if policy("#{resource_type.downcase}_discount".to_sym).allow_edit? %>
                <%= link_to '#', class: 'edit-discount', data: { id: cd.id } do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <% end %>

              <% if policy("#{resource_type.downcase}_discount".to_sym).allow_delete? %>
                <%= link_to '#', class: 'destroy-discount', data: { id: cd.id } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
