<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4>
      <%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:
    </h4>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= raw message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
