<h2>Order Slips</h2>

<hr>

<%= render partial: 'order_slips/partials/index_buttons' %>

<hr>

<table id="order-slips-list" class="table table-hover" data-source="<%= order_slips_url(format: :json) %>">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Warehouse</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<hr>

<%= render partial: 'order_slips/partials/index_buttons' %>
