<div class="container">
	<h2>Order Slip Information</h2>

	<hr>

	<div class="row">
    <div class="col-8">
      <div>
        <h6>Customer</h6>
        <p class="font-italic"><%= @order_slip.orderable.name %></p>
      </div>
    </div>

    <div class="col-4">
      <div>
        <h6>Warehouse</h6>
        <p class="font-italic"><%= @order_slip.warehouse.name %></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Items Breakdown</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6"><h6>Item Name</h6></div>
    <div class="col-6"><h6>Quantity</h6></div>

    <% @order_slip.ordered_items.each do |ordered| %>
      <div class="col-6"><%= ordered.item.name %></div>
      <div class="col-6"><%= ordered.quantity %></div>
    <% end %>
  </div>

	<hr>

	<%= link_to 'Edit', edit_order_slip_path(@order_slip), class: 'btn btn-primary' %>
	<%= link_to 'Back', order_slips_path, class: 'btn btn-outline-secondary' %>
</div>
