<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Supplier Information</h3>
    </div>
  </div>

  <hr>

	<div class="row">
		<div class="col-4">
			<div>
				<h6>Supplier Name</h6>
				<p class="font-italic"><%= @supplier.name %></p>
			</div>

			<div>
				<h6>Email Address</h6>
				<p class="font-italic"><%= @supplier.email %></p>
			</div>
		</div>

		<div class="col-4">
			<div>
				<h6>Current Balance</h6>
				<p class="font-italic"><%= @supplier.current_balance %></p>
			</div>
		</div>

		<div class="col-4">
			<div>
				<h6>Status</h6>
				<p class="font-italic"><%= @supplier.status.titleize %></p>
			</div>

			<div>
				<h6>Auto</h6>
				<p class="font-italic"><%= @supplier.auto ? 'Yes' : 'No' %></p>
			</div>
		</div>
	</div>

	<hr>

  <div class="row">
    <div class="col-12">
      <h3>Accounting Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
  	<div class="col-4">
  		<div>
  			<h6>Credit Term</h6>
  			<p class="font-italic"><%= @supplier.accounting_information.credit_term.titleize %></p>
  		</div>
  	</div>

  	<div class="col-4">
  		<div>
  			<h6>Contact Information</h6>
  			<p class="font-italic"><%= @supplier.contact_informations.first.try(:name).try(:titleize) %></p>
  		</div>
  	</div>
  </div><hr>

  <div class="row">
    <div class="col-12">
      <h3>Addresses</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <table id="addresses-list" class="table table-hover" data-source="<%#= addresses_url(format: 'json') %>">
        <thead>
          <tr>
            <th>Primary</th>
            <th>Business</th>
            <th>Home</th>
            <th>Contact Person</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            <th>Fax</th>
            <th>Address</th>
          </tr>
        </thead>

        <tbody>
          <% @supplier.addresses.each do |address| %>
            <tr data-address-id="<%= address.id %>">
              <td class="td0">
                <%= link_to 'Make Primary', '#', class: 'btn btn-sm btn-info make-primary-btn', data: { id: address.id, 'customer-id': @supplier.id, 'customer-address-id': address.addressable.id } unless address.addressable.is_primary %>
                <%= address.addressable.is_primary ? 'Yes' : 'No' %>
              </td>
              <td><%= address.addressable.is_business_address ? 'Yes' : 'No' %></td>
              <td><%= address.addressable.is_home_address ? 'Yes' : 'No' %></td>
              <td><%= address.addressable.contact.try(:name) || 'N/A' %></td>
              <td><%= address.addressable.contact.try(:contact_number_1) || 'N/A' %></td>
              <td><%= address.addressable.contact.try(:contact_number_2) || 'N/A' %></td>
              <td><%= address.addressable.fax %></td>
              <td><%= "#{address.apt_bldg_suite} #{address.unit} #{address.floor} #{address.lot_no} #{address.street} #{address.brgy} #{address.district} #{address.town_city}, #{address.state_province}, #{address.country}, #{address.postal_code}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Discounts</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <table id="discounts-list" class="table table-hover" data-source="<%#= discounts_url(format: 'json') %>">
        <thead>
          <tr>
            <th>Brands</th>
            <th>Discounts</th>
          </tr>
        </thead>

        <tbody>
          <% @supplier.discounts.each do |cd| %>
            <tr data-discounts-id="<%= cd.id %>">
              <td><%= get_brand_name(cd.brand_id) %></td>
              <td>
                Less <%= cd.discount.join('%, Less ') %>%
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

	<%= link_to 'Edit', edit_supplier_path(@supplier), class: 'btn btn-primary' if policy(Supplier).allow_edit? %>
	<%= link_to 'Back', suppliers_path, class: 'btn btn-outline-secondary' %>
</div>
