<% if flash[:notice].present? %>
	<div class="alert alert-success app-alert" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <p><%= notice %></p>
	</div>
<% end %>

<% if flash[:alert].present? %>
	<div class="alert alert-danger app-alert" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <p><%= alert %></p>
	</div>
<% end %>
