<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/dashboards">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <% if current_user.has_role?('root') %>
    <li class="nav-item">
      <a class="nav-link" href="<%= users_url %>">
        <i class="fas fa-fw fa-user"></i>
        <span>Users</span>
      </a>
    </li>
  <% end %>
  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle pagesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-user"></i>
      <span>User Accounts</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">Person:</h6>
      <a class="dropdown-item" href="<%#= users_path %>">
        <i class="fas fa-fw fa-user-tie"></i>
        <span>User</span>
      </a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Groups:</h6>
      <a class="dropdown-item" href="<%#= roles_path %>">
        <i class="fas fa-fw fa-user-cog"></i>
        <span>Roles</span>
      </a>
      <a class="dropdown-item" href="<%#= permissions_path %>">
        <i class="fas fa-fw fa-cog"></i>
        <span>Permissions</span>
      </a>
    </div>
  </li> -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle pagesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-file-invoice-dollar"></i>
      <span>Accounting</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">People:</h6>
      <a class="dropdown-item" href="<%= customers_url %>">
        <i class="fas fa-fw fa-book-reader"></i>
        <span>Customers</span>
      </a>
      <a class="dropdown-item" href="<%= suppliers_url %>">
        <i class="fas fa-fw fa-truck"></i>
        <span>Suppliers</span>
      </a>
      <a class="dropdown-item" href="<%= salesmen_users_url %>">
        <i class="fas fa-fw fa-walking"></i>
        <span>Salesmen</span>
      </a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Files:</h6>
      <a class="dropdown-item" href="#">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Reports</span>
      </a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle pagesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-box-open"></i>
      <span>Products</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="/items">
        <i class="fas fa-fw fa-cube"></i>
        <span>Item</span>
      </a>
      <a class="dropdown-item" href="/categories">
        <i class="fas fa-fw fa-cubes"></i>
        <span>Category</span>
      </a>
      <a class="dropdown-item" href="/brands">
        <i class="fas fa-fw fa-bookmark"></i>
        <span>Brand</span>
      </a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle pagesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-clipboard-list"></i>
      <span>Inventories</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="/warehouses">
        <i class="fas fa-fw fa-home"></i>
        <span>Warehouse</span>
      </a>
      <a class="dropdown-item" href="<%= item_bundles_url %>">
        <i class="fas fa-fw fa-boxes"></i>
        <span>Item Bundles</span>
      </a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= return_slips_url %>">
      <i class="fas fa-fw fa-retweet"></i>
      <span>Return Slips</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= order_slips_url %>">
      <i class="fas fa-fw fa-edit"></i>
      <span>Order Slips</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= receivables_path %>">
      <i class="fas fa-fw fa-file-invoice"></i>
      <span>Receivables</span>
    </a>
  </li>
</ul>
