<h2>Warehouses</h2>

<%= render partial: 'warehouses/partials/index_buttons' %>

<hr>

<table id="warehouses-list" class="table table-hover" data-source="<%= warehouses_url(format: 'json') %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<%= render partial: 'warehouses/partials/index_buttons' %>
