<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Warehouse Information</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-4">
      <div>
        <h6>Name</h6>
        <p class="font-italic"><%= @warehouse.name %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6>Warehouse Code</h6>
        <p class="font-italic"><%= @warehouse.wh_code %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <h6>Warehouse Address</h6>
        <p class="font-italic"><%= @warehouse.wh_address %></p>
      </div>
    </div>
  </div>

  <hr>

  <%= link_to 'Edit', edit_warehouse_path(@warehouse), class: 'btn btn-primary' if policy(Warehouse).allow_edit? %>
  <%= link_to 'Back', warehouses_path, class: 'btn btn-outline-secondary' %>

</div>
