<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['BUSINESS_NAME'] %> Marketing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'general_form_helper' if ['customers', 'suppliers'].include?(params[:controller]) %>
    <%= stylesheet_link_tag 'app_helper' %>
    <%= stylesheet_link_tag "#{params[:controller]}" %>
    <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}" %>
  </head>

  <body id="page-top">
    <%= render partial: 'shared/partials/loader' %>

  	<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  		<%= render :partial => 'layouts/partials/navbar' %>
    </nav>

    <div id="wrapper">
      <!-- Sidebar -->
    	<%= render :partial => 'layouts/partials/sidebar' %>
      <!-- Sidebar -->

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol> -->

          <%= render partial: 'layouts/partials/alert_notice' %>

          <%= yield %>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © 2018</span>
            </div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->

      <!-- Scroll to Top Button-->
	    <!-- <a class="scroll-to-top rounded" href="#page-top">
	      <i class="fas fa-angle-up"></i>
	    </a> -->
    </div>

    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      //setup auto re-login for unauthorized ajax responses
      jQuery.ajaxSetup({
        statusCode: {
          401: function() {
            location.href = "<%= new_user_session_path %>";
          }
        }
      });
    </script>

    <%= javascript_include_tag 'general_form_helper' if ['customers', 'suppliers'].include?(params[:controller]) %>
    <%= javascript_include_tag 'app_helper' %>
    <%= javascript_include_tag "#{params[:controller]}" %>
    <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}" %>
    <%= yield :inset_scripts %>
  </body>
</html>
