<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= ENV['BUSINESS_NAME'] %> Marketing</title>

    <%= stylesheet_link_tag 'block', media: 'all' %>
    <%= stylesheet_link_tag 'app_helper' %>
  </head>

  <body class="bg-dark">
    <div class="container">
      <div class="mx-auto mt-5 card-login">
        <%= render partial: 'layouts/partials/alert_notice' %>
      </div>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'block' %>
    <%= javascript_include_tag 'app_helper' %>
  </body>
</html>
