<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />

    <%= wicked_pdf_stylesheet_link_tag "customer_orders/show" -%>
  </head>
  <body onload='number_pages'>
    <div id="header">
      <%= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
